<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>15</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>4.79_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description>This is used to pass a common build number to all IL and BLL build jobs run during the nightly build process.</description>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description/>
          <defaultValue>4.79</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_OS</name>
          <description/>
          <defaultValue>IL</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_ID</name>
          <description/>
          <defaultValue>6</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AV_BUILD_NUMBER</name>
          <description/>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OUTPUT_DIR</name>
          <description/>
          <defaultValue>\\storage\gr\TestCenter\4.62\SR_Builds\SR462.1.2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SR</name>
          <description>Example: 465.1.1. 
NOTE: if any value other than none is provided, the job will try to upload the usb image to the directory specified by the SR number (.e.g, \\storage.cal.ci.spirentcom.com\gr\TestCenter\4.65\SR_Builds\SR465.1.1\Manufacturing)</description>
          <defaultValue>NONE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>INCLUDE_APPSEC_PKG</name>
          <description/>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.34">
    <configVersion>2</configVersion>
    <p4User>scmbuild</p4User>
    <p4Passwd/>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}_${BRANCH_NAME}</p4Client>
    <projectPath>//SCM/Scripts/ci_* //ws/Build_Scripts/Scripts/ci_*
+//TestCenter/${BRANCH_NAME}/... //ws/...
-//TestCenter/*/sandbox/...
-//TestCenter/*/.../WebHelp/...
-//TestCenter/*/Bakeoff_TestCaseScripts/...
-//TestCenter/*/other/...
-//TestCenter/*/scm/...
-//TestCenter/*/documents/...
-//TestCenter/*/schedules/...
-//TestCenter/*/regression/...
-//TestCenter/*/userdocauto/...
-//TestCenter/*/common/lib/boost_1_34_0/...
-//TestCenter/*/framework/ui/...
-//TestCenter/*/content/.../ui/...
-//TestCenter/*/.../bll/...
+//TestCenter/${BRANCH_NAME}/framework/bll/base/... //ws/framework/bll/base/...
+//TestCenter/${BRANCH_NAME}/framework/bll/unittestdrv/... //ws/framework/bll/unittestdrv/...
+//TestCenter/${BRANCH_NAME}/framework/bll/vendor/... //ws/framework/bll/vendor/...
//hypervisor/mainline/amara/ChassisImage/...  //ws/ChassisImage/...
//TARDIS/avalanche_release/... //ws/content/traffic/l4l7vm/...
//TARDIS/Studio_release/avanext/... //ws/content/traffic/studio_perf/avanext/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner/>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\WINDOWS</p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>true</pollOnlyOnMaster>
  </scm>
  <quietPeriod>120</quietPeriod>
  <assignedNode>ilpkg-v01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <authToken>meenuallowedtodothis</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># p4 sync -f //TARDIS/avalanche_release/...@796337</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>env
p4 info

echo Clean up prior to extracting tarballs

# make the version file writeable
[ -f $WORKSPACE/build/il/version ] &amp;&amp; chmod 777 $WORKSPACE/build/il/version

# need to remove information in repos directory and packages directory
rm -rf $WORKSPACE/build/il/repos/*
rm -rf $WORKSPACE/build/il/bld_appliance
sudo scons target=packageclean

rm -f $WORKSPACE/*.txt

# 2016-01-18: Temporary for 4.61, unshelve Ramana's change to fix AV l4l7vm version issue
# cp -f /home/spirent/appliance_usb /home/spirent/jenkins-rel/workspace/release_cxx_amara_usb_yocto1.5/build/il/scripts/targets/appliance_usb</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# -- setup build number and path based on the branch name
if [ "$BRANCH_NAME" = "integration" ]; then
     export BRANCH_ID='3'
fi

if [ "$BRANCH_NAME" = "release" ]; then
     export BRANCH_ID='6'
fi

if [[ $BRANCH_NAME = *_rel* ]]; then
     export BRANCH_ID='6'
fi
export PADDING=''

if [ $BLL_BUILD_NUMBER -lt 100 ]; then 
   export PADDING='0'
fi;

if [ $BLL_BUILD_NUMBER -lt 10 ]; then 
   export PADDING='00'
fi;




# check if the build specified in the parameter exists
# export FULL_BUILD=${STC_MAJ_MIN_VERSION}.${PADDING}${BLL_BUILD_NUMBER}${BRANCH_ID}
# export aonic_file=/gibson/TestCenter/${STC_MAJ_MIN_VERSION}/Engineering_Builds/IL/${FULL_BUILD}/fsimg/appliance-${FULL_BUILD}-fs-1.1.tgz
# export aonic_md5_file=/gibson/TestCenter/${STC_MAJ_MIN_VERSION}/Engineering_Builds/IL/${FULL_BUILD}/fsimg/appliance-${FULL_BUILD}-fs-1.1.tgz.md5
# export c3_file=/gibson/TestCenter/${STC_MAJ_MIN_VERSION}/Engineering_Builds/IL/${FULL_BUILD}/fsimg/controller3-${FULL_BUILD}-fs-1.1.tgz
# export c3_md5_file=/gibson/TestCenter/${STC_MAJ_MIN_VERSION}/Engineering_Builds/IL/${FULL_BUILD}/fsimg/controller3-${FULL_BUILD}-fs-1.1.tgz.md5
# if [ -f $aonic_file ]; then
# echo "Applicance file: $aonic_file"
# else
# echo "Applicance file '$aonic_file'  not found, aborting"
# exit 1
# fi

# mkdir -p $WORKSPACE/build/il/packages/fsimg
# cp -v $aonic_file $WORKSPACE/build/il/packages/fsimg
# cp -v $aonic_md5_file $WORKSPACE/build/il/packages/fsimg
# cp -v $c3_file $WORKSPACE/build/il/packages/fsimg
# cp -v $c3_md5_file $WORKSPACE/build/il/packages/fsimg</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># update version file
# python $WORKSPACE/Build_Scripts/Scripts/ci_run_jenkins_steps.py --createversionfile=yes</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if [ "$AV_BUILD_NUMBER" = "BAD_BUILD_NUMBER" ]; then
    export DESC=`p4 describe $(p4 changes -m1 content/traffic/l4l7vm/... | awk '{print $2}') |grep Description\:`
    export AV_BUILD_NUMBER=${DESC: -9}
    echo "No explicit AV build number has been specified in the job parameter, obtaining AV build number from Perforce check-in ..."
    echo "Setting AV Build number to $AV_BUILD_NUMBER"
fi

echo 'Creating C1/C100 USB image (Appliance)'
rm -rf $WORKSPACE/framework/il/kernel/yocto/spirent-linux
if [ "$INCLUDE_APPSEC_PKG" = "TRUE" ]; then
    $WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_hypervisor_mix
    $WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_usb
else
    $WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_hypervisor_stc_only
    $WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_usb_stc_only
fi

export RAW_BLDSTR=${BLL_BUILD_NUMBER}${BRANCH_ID}
printf -v BLDNUMBER "%04d" ${RAW_BLDSTR#0}

if [ "$AV_BUILD_NUMBER" = "" ]; then
    export AV_BUILD_NUMBER=${STC_MAJ_MIN_VERSION}.${BLDNUMBER}
    echo "Setting AV Build number to ${STC_MAJ_MIN_VERSION}.${BLDNUMBER}"
fi

sudo $WORKSPACE/build/il/scripts/reversion_il.sh ${STC_MAJ_MIN_VERSION}.${BLDNUMBER} ${AV_BUILD_NUMBER}
$WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 il_version=${STC_MAJ_MIN_VERSION}.${BLDNUMBER} usbimg_cxxx
# rm -rf $WORKSPACE/framework/il/kernel/yocto/Install/usbimg_cxxx-1.5.img.gz
# gzip $WORKSPACE/framework/il/kernel/yocto/Install/usbimg_cxxx-1.5.img</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo 'Creating Amara/Controller3 USB image (Yocto 1.5)'
$WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 c3_hypervisor
$WORKSPACE/build/il/scripts/phxbld -j32 yocto_ver=1.5 c3_usb   
rm -rf $WORKSPACE/framework/il/kernel/yocto/Install/usb_amara-1.5.img.gz
gzip $WORKSPACE/framework/il/kernel/yocto/Install/usb_amara-1.5.img
rm -rf $WORKSPACE/framework/il/kernel/yocto/Install/usbimg_cxxx_x11-1.5.img.gz 
gzip $WORKSPACE/framework/il/kernel/yocto/Install/usbimg_cxxx_x11-1.5.img
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>export RSYNCUSER=scm
export BUILD_OUTPUT_DIR=$WORKSPACE
export MARTIN_ROOT=/spirent/data/archive/pv/TestCenter
export MARTIN=martin.spirentcom.com
export RAW_BLDSTR=${BLL_BUILD_NUMBER}${BRANCH_ID}
printf -v BLDNUMBER "%04d" ${RAW_BLDSTR#0}
export BLDNBR=${STC_MAJ_MIN_VERSION}.${BLDNUMBER}
export BUILD_DIR=$MARTIN_ROOT/$STC_MAJ_MIN_VERSION/Engineering_Builds/IL/$BLDNBR

ssh ${RSYNCUSER}@${MARTIN} mkdir -p $BUILD_DIR/usbimg
rsync -avz $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install/usb*1.5*.img.gz ${RSYNCUSER}@${MARTIN}:$BUILD_DIR/usbimg

# trim white space from SR
export SR="$(echo -e "${SR}" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')"

if [ "$SR" != "NONE" ];
then
    echo "Rsync USB image to -SR{$SR}-"
    export RSYNCUSER=spirent
    export STORAGE=storage.cal.ci.spirentcom.com
    export SR_DIR=/GR/TestCenter/${STC_MAJ_MIN_VERSION}/SR_Builds/SR${SR}/Manufacturing
    cd $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install
    sudo rm -rf spt-c1-x11*.img.gz
    sudo rm -rf ctl3image*.img.gz
    
    # c1/100 usb image upload
    export original_fname=$(ls usbimg*cxxx*x11*.img.gz)
    export new_fname=spt-c1-x11_${BLDNBR}.img.gz
    mv ${original_fname} ${new_fname}
    md5sum ${new_fname} &gt; ${new_fname}.md5
    rsync -avz $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install/${new_fname} ${RSYNCUSER}@${STORAGE}:$SR_DIR
    rsync -avz $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install/${new_fname}.md5 ${RSYNCUSER}@${STORAGE}:$SR_DIR

    # amara usb image upload
    export original_fname=$(ls usb_amara*.img.gz)
    export new_fname=ctl3image-${BLDNBR}.img.gz
    mv ${original_fname} ${new_fname}
    md5sum ${new_fname} &gt; ${new_fname}.md5
    rsync -avz $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install/${new_fname} ${RSYNCUSER}@${STORAGE}:$SR_DIR
    rsync -avz $BUILD_OUTPUT_DIR/framework/il/kernel/yocto/Install/${new_fname}.md5 ${RSYNCUSER}@${STORAGE}:$SR_DIR
fi

</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>true</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
      <executeOn>BOTH</executeOn>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>devopsteam@spirent.com,emil.mihaylov@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList/>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo/>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern/>
      <presendScript/>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_RECIPIENTS</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.16"/>
  </buildWrappers>
</project>