<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <org.datadog.jenkins.plugins.datadog.DatadogJobProperty plugin="datadog@1.1.1">
      <enableFile>false</enableFile>
      <tagFile></tagFile>
      <enableProperty>false</enableProperty>
      <tagProperties></tagProperties>
      <emitSCMEvents>true</emitSCMEvents>
    </org.datadog.jenkins.plugins.datadog.DatadogJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.28.1">
      <activeProcessNames>
        <string>release Ready for SmartTest</string>
        <string>All packaging jobs complete</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue>5.13_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description></description>
          <defaultValue>5.13</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_ID</name>
          <description></description>
          <defaultValue>6</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>scmbuild</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName></streamName>
        <line>LOCAL</line>
        <view>//SCM/Scripts/ci_* //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/Scripts/ci_*
//SCM/Scripts/changelist_info/update_database_with_changelist.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/Scripts/changelist_info/update_database_with_changelist.py
+//TestCenter/${BRANCH_NAME}/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/...
-//TestCenter/*/sandbox/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/sandbox/...
-//TestCenter/*/.../WebHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/.../WebHelp/...
-//TestCenter/*/Bakeoff_TestCaseScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/Bakeoff_TestCaseScripts/... 
-//TestCenter/*/other/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/other/...
-//TestCenter/*/documents/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/documents/...
-//TestCenter/*/schedules/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/schedules/...
-//TestCenter/*/regression/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/regression/... 
-//TestCenter/*/userdocauto/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/userdocauto/...
-//TestCenter/*/common/lib/boost_1_34_0/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Layer1/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/Layer1/...
-//TestCenter/*/framework/ui/resultsanalysis/tools/jvm/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/framework/il/freebsd/sys/dev/digi/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/framework/il/freebsd/sys/dev/digi/...
-//TestCenter/*/framework/il/platform/scripts/chassis/i686/filesys/etc/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/framework/il/platform/scripts/chassis/i686/filesys/etc/...
+//TestCenter/${BRANCH_NAME}/regression/jenkins/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/regression/jenkins/...</view>
        <type>WRITABLE</type>
        <serverID></serverID>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.FlushOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin></pin>
    </populate>
  </scm>
  <assignedNode>relpkg-05</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>30 20 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration plugin="Parameterized-Remote-Trigger@2.2.2">
      <token>tok</token>
      <remoteJenkinsName>jenkins-devops</remoteJenkinsName>
      <job>Copy-latest-l4l7-zip</job>
      <shouldNotFailBuild>true</shouldNotFailBuild>
      <pollInterval>10</pollInterval>
      <connectionRetryLimit>5</connectionRetryLimit>
      <preventRemoteBuildQueue>false</preventRemoteBuildQueue>
      <blockBuildUntilComplete>true</blockBuildUntilComplete>
      <enhancedLogging>false</enhancedLogging>
      <parameters>STC_MAJ_MIN_VERSION=${STC_MAJ_MIN_VERSION}</parameters>
      <parameterList>
        <string>STC_MAJ_MIN_VERSION=${STC_MAJ_MIN_VERSION}</string>
      </parameterList>
      <overrideAuth>false</overrideAuth>
      <auth>
        <org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
          <NONE>none</NONE>
          <API__TOKEN>apiToken</API__TOKEN>
          <CREDENTIALS__PLUGIN>credentialsPlugin</CREDENTIALS__PLUGIN>
        </org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
      </auth>
      <loadParamsFromFile>false</loadParamsFromFile>
      <parameterFile></parameterFile>
      <queryString></queryString>
    </org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration>
    <hudson.tasks.BatchFile>
      <command>set BLL_BUILD_NUMBER=%BUILD_NUMBER%&#xd;
del ui_*.txt&#xd;
del bll_*.txt&#xd;
del *il_*changelist*.txt&#xd;
del Report_*.txt&#xd;
del Build_*.txt&#xd;
del Magellan_Frontend_Build_*.txt&#xd;
rem c:\python27\python %WORKSPACE%\Scripts\ci_run_jenkins_steps.py --createchangereport=yes</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_ui_ci</project>
      <filter>BLL_changelist_*.txt, UI_changelist_*.txt,bll_idl_crc.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed Regression</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_ui_x64_ci</project>
      <filter>Magellan_Frontend_Build_*.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed Regression</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_il_testmodule_contents_ci</project>
      <filter>*il_testmodule_contents*changelist_*.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release IL Build Passed on all platforms</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_il_virtual_yocto_ci</project>
      <filter>il_idl_crc.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release IL Build Passed on all platforms</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>REM -- ensure BLL and IL have matching IDL checksum&#xd;
python regression\jenkins\compare_crc.py --first bll_idl_crc.txt --second il_idl_crc.txt </command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>del /f /q %WORKSPACE%\stc_version.txt&#xd;
echo STC_MAJ_MIN_VERSION=%STC_MAJ_MIN_VERSION% &gt; %WORKSPACE%\stc_version.txt</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command>import os
import glob
import re

files = glob.glob(&quot;*il_testmodule_contents*changelist*.txt&quot;)
# files = glob.glob(&quot;BLL_*.txt&quot;)
changelistfile = files[0]
changelist = re.sub(r&apos;.txt$&apos;, &quot;&quot;, changelistfile )
changelist = re.sub(r&apos;il_testmodule_contents_changelist_&apos;, &quot;&quot;, changelist )
build_number = os.environ[&apos;BUILD_NUMBER&apos;]
print &quot;IL Changelist is &quot; + changelist
il_changelist_file=&apos;IL_&apos; + changelist + &apos;.txt&apos;
f = open(il_changelist_file, &apos;w&apos;)
f.write(&quot;\nCHANGELIST=&quot; + changelist + &quot; &quot; + build_number)
f.close</command>
    </hudson.plugins.python.Python>
    <hudson.tasks.BatchFile>
      <command>set P4PORT=perforce.spirentcom.com:1666&#xd;
set P4USER=scmbuild&#xd;
set P4CLIENT=jenkins-%NODE_NAME%-%JOB_NAME%-%BRANCH_NAME%&#xd;
set P4PASSWD=%SCMBUILD_PASSWORD%&#xd;
echo %SCMBUILD_PASSWORD%|p4 login&#xd;
&#xd;
SET FULLVER=00%BUILD_NUMBER%%BRANCH_ID%&#xd;
if %BUILD_NUMBER% gtr 9 SET FULLVER=0%BUILD_NUMBER%%BRANCH_ID%&#xd;
if %BUILD_NUMBER% gtr 99 SET FULLVER=%BUILD_NUMBER%%BRANCH_ID%&#xd;
echo FULLVER is %FULLVER%&#xd;
echo &quot;%BRANCH_NAME% Build Number: %FULLVER%&quot; &gt; BUILD_%STC_MAJ_MIN_VERSION%.%FULLVER%.txt&#xd;
&#xd;
perl %WORKSPACE%\Scripts\ci_update_database.pl ALL %STC_MAJ_MIN_VERSION% %FULLVER% %BUILD_ID% &quot;In Progress&quot; %BUILD_URL% %BRANCH_NAME%&#xd;
&#xd;
perl %WORKSPACE%\Scripts\ci_update_database_changelist.pl STC %STC_MAJ_MIN_VERSION% %FULLVER%&#xd;
&#xd;
python %WORKSPACE%\Scripts\changelist_info\update_database_with_changelist.py -v %STC_MAJ_MIN_VERSION% -b %FULLVER%&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>REM --- Tag file handling for SmartTest&#xd;
rem copy \\spccalfs04\SCM\SCMSmartTest\%STC_MAJ_MIN_VERSION%\pw_packages_to_test \\martin\archive\pv\TestCenter\%STC_MAJ_MIN_VERSION%\Engineering_Builds\pw_packages_to_test.new&#xd;
&#xd;
copy \\results.cal.ci.spirentcom.com\smt\SCMSmartTest\%STC_MAJ_MIN_VERSION%\pw_packages_to_test \\martin\archive\pv\TestCenter\%STC_MAJ_MIN_VERSION%\Engineering_Builds\pw_packages_to_test.new&#xd;
exit /B 0</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>,Report_*${BUILD_NUMBER}${BRANCH_ID}.txt, BLL_changelist_*.txt, UI_changelist_*.txt, *il_*changelist*.txt, BUILD_*.txt, stc_version.txt,Magellan_Frontend_Build_*.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration plugin="Parameterized-Remote-Trigger@2.2.2">
          <token>tok</token>
          <remoteJenkinsName>jenkins-devops</remoteJenkinsName>
          <job>Post_ChangeList_Info</job>
          <shouldNotFailBuild>true</shouldNotFailBuild>
          <pollInterval>10</pollInterval>
          <connectionRetryLimit>5</connectionRetryLimit>
          <preventRemoteBuildQueue>false</preventRemoteBuildQueue>
          <blockBuildUntilComplete>false</blockBuildUntilComplete>
          <enhancedLogging>false</enhancedLogging>
          <parameters>BUILD_NUMBER=${STC_MAJ_MIN_VERSION}.${BUILD_NUMBER}${BRANCH_ID}</parameters>
          <parameterList>
            <string>BUILD_NUMBER=${STC_MAJ_MIN_VERSION}.${BUILD_NUMBER}${BRANCH_ID}</string>
          </parameterList>
          <overrideAuth>false</overrideAuth>
          <auth>
            <org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
              <NONE>none</NONE>
              <API__TOKEN>apiToken</API__TOKEN>
              <CREDENTIALS__PLUGIN>credentialsPlugin</CREDENTIALS__PLUGIN>
            </org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
          </auth>
          <loadParamsFromFile>false</loadParamsFromFile>
          <parameterFile></parameterFile>
          <queryString></queryString>
        </org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration>
      </buildSteps>
      <scriptOnlyIfSuccess>true</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>devopsteam@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix></customPrefix>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BLL_BUILD_NUMBER=${BUILD_NUMBER}</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>release_bll_windows_packaging_new,release_il_centralboot_packaging,release_bll_windows_x64_packaging,release_cts_windows_packaging,release_bll_linux_x64_client_packaging,release_cts_linux_packaging,release_bll_linux_64_packaging,release_bll_linux_x86_client_packaging,release_bll_linux_packaging</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <EnvInjectPasswordWrapper plugin="envinject@1.89">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>SCMBUILD_PASSWORD</name>
          <value>f2Hvo1KIv8gNApnbSHftyshJpcR11yUGbEzBlpqCIDg=</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>