<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description></description>
          <defaultValue>5.11</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_SUBDIR</name>
          <description></description>
          <defaultValue>Spirent_TestCenter_Application_Linux</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TARNAME</name>
          <description></description>
          <defaultValue>Spirent_TestCenter_Auto_Linux_4.84.tar.gz</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OUTPUT_INSTALLER_NAME</name>
          <description></description>
          <defaultValue>install_Spirent_TestCenter_Auto_Linux_4.84.sh</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_ID</name>
          <description></description>
          <defaultValue>6</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MODE</name>
          <description></description>
          <defaultValue>NIGHTLY</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue>5.11_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NO_CRYPTO</name>
          <description></description>
          <defaultValue>NO</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>scmbuild</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName></streamName>
        <line>LOCAL</line>
        <view>//TestCenter/${BRANCH_NAME}/scm/linux_installer/build //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/build
//TestCenter/${BRANCH_NAME}/scm/linux_installer/decompress //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/decompress
//TestCenter/${BRANCH_NAME}/scm/linux_installer/payload/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/...
+//TestCenter/${BRANCH_NAME}/scm/linux_installer/installer //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/installer
+//TestCenter/${BRANCH_NAME}/framework/tools/MagellanInstallScripts/MagellanInstall.sh //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/MagellanInstall.sh
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/check_port_num.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/check_port_num.py
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/check_pwd.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/check_pwd.py
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/create_role.sql //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/create_role.sql
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/postgres_linux.sh //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/postgres_linux.sh
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/change_postgres_settings.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/change_postgres_settings.py
+//TestCenter/${BRANCH_NAME}/framework/tools/postgres/check_postgres_settings.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/payload/check_postgres_settings.py</view>
        <type>WRITABLE</type>
        <serverID></serverID>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.ForceCleanImpl">
      <have>false</have>
      <force>true</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin></pin>
      <parallel>
        <enable>false</enable>
        <threads>4</threads>
        <minfiles>1</minfiles>
        <minbytes>1024</minbytes>
      </parallel>
    </populate>
  </scm>
  <assignedNode>bldmisclnx</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -xe

if [ $MODE = &quot;INC&quot; ]; then
    exit 0
fi

export RAW_BLDSTR=${BLL_BUILD_NUMBER}${BRANCH_ID}

printf -v BLDNUMBER &quot;%04d&quot; $RAW_BLDSTR

SOURCE_TAR_PATH=/spirent/data/archive/pv/TestCenter/${STC_MAJ_MIN_VERSION}/Engineering_Builds/GUI_BLL/${STC_MAJ_MIN_VERSION}.${BLDNUMBER}/tar
BUILD_SERVER=martin.spirentcom.com
LOGON_USER=scm

# rsync source tar ball from build server
rsync -avz ${LOGON_USER}@${BUILD_SERVER}:${SOURCE_TAR_PATH}/${TARNAME} $WORKSPACE/payload/${TARNAME}

# build installer file
./build

# rsync installer to build server
rsync -avz $WORKSPACE/${OUTPUT_INSTALLER_NAME} ${LOGON_USER}@${BUILD_SERVER}:${SOURCE_TAR_PATH}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix></customPrefix>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.18">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>60</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>