<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>cSync SCM build scripts, help files and other files as needed for packaging.&lt;br&gt;
Retrieve tar.gz files from UI and RR build.&lt;br&gt;
Extract TestCenter.Windows.no_version.tar.gz, ResultsReporter.tar.gz UI and RR tar.gz files to bin/release folder.&lt;br&gt;
Retrieve TestCenter_WebHelp.tar.gz, Provisioning_WebHelp.tar.gz, ServerManager_WebHelp.tar.gz from webhelp build.&lt;br&gt;
Run setver.py to set the version of the TestCenter binary files.&lt;br&gt;
Run ci_packageinstaller.pl to create P2_installer and FORTHOT installer files.&lt;br&gt;
Run ci_packageinstaller.pl to create DMCP installer files.&lt;br&gt;
Copy build results to \\martin\archive\pv\TestCenter\4.10\Engineering_Builds\integration\BUILDVERSION&lt;br&gt;
Jenkins Node(s): spccalengec01, spccalpvxpvm-01, spccalengec02</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>true</useBuildBlocker>
      <blockingJobs>release_bll_win_pkg_webhelp
release_bll_windows_x64_packaging</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>40</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain/>
      <token/>
      <room/>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>5.14_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RUN_UNITTEST</name>
          <description>run unittest</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>bin/Release</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description>major minor version</description>
          <defaultValue>5.14</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description/>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_OS</name>
          <description/>
          <defaultValue>BLLWindows</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_TYPE</name>
          <description>The release type tag displayed in STC GUI Help-About and splash screen. Available option are:
- Alpha
- Beta
- RELEASE (no release type tag will be displayed in the GUI if set to 'RELEASE')</description>
          <defaultValue>RELEASE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>tableuser</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName/>
        <line>LOCAL</line>
        <view>//SCM/Build_Scripts/STC_Build_Scripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/Build_Scripts/STC_Build_Scripts/...
//SCM/Scripts/ci_* //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/Build_Scripts/Scripts/ci_*
//SCM/Installer/ProvManager/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/DMCP_Installer/...
//TestCenter/${BRANCH_NAME}/scm/installer/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/scm/installer/...
//TestCenter/${BRANCH_NAME}/framework/tools/buildUtil/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/tools/buildUtil/...
//TestCenter/${BRANCH_NAME}/framework/ui/resultsanalysis/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/ui/resultsanalysis/...
-//TestCenter/${BRANCH_NAME}/framework/ui/resultsanalysis/tools/jvm/linux_x86/man/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/ui/resultsanalysis/tools/jvm/linux_x86/man/...
//TestCenter/${BRANCH_NAME}/bin/Release/Help/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/bin/Release/Help/...
//TestCenter/${BRANCH_NAME}/bin/Release/ServerManagerHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/bin/Release/ServerManagerHelp/...
//TestCenter/${BRANCH_NAME}/framework/automation/scripting/stc/SampleScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/automation/scripting/stc/SampleScripts/...
//TestCenter/${BRANCH_NAME}/framework/ui/automation/HelpInfo/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/ui/automation/HelpInfo/...
//TestCenter/${BRANCH_NAME}/content/traffic/l4l7/templates/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/bin/release/Dpg/...
//TestCenter/${BRANCH_NAME}/common/lib/hexViewCtrl/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/common/lib/hexViewCtrl/...
//TestCenter/${BRANCH_NAME}/content/traffic/l4l7/tools/DpgUpdate/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/bin/Release/Dpg/DpgUpdate/...
//TestCenter/${BRANCH_NAME}/common/lib/pduEditor/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/common/lib/pduEditor/...
//TestCenter/${BRANCH_NAME}/framework/bll/serverManager/scripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/bll/serverManager/scripts/...
//TestCenter/${BRANCH_NAME}/content/HltAPI/SampleScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/content/HltAPI/SampleScripts/...
//TestCenter/${BRANCH_NAME}/content/HltAPI/SourceCode/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/content/HltAPI/SourceCode/...
//TestCenter/${BRANCH_NAME}/content/HltAPI/build/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/content/HltAPI/build/...</view>
        <type>WRITABLE</type>
        <serverID/>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.SyncOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin/>
      <parallel>
        <enable>false</enable>
        <threads>4</threads>
        <minfiles>1</minfiles>
        <minbytes>1024</minbytes>
      </parallel>
      <revert>false</revert>
    </populate>
  </scm>
  <assignedNode>relpkg-05</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JOB_NAME}</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>del BLL_changelist*.txt
del UI_changelist*.txt
del /f Win64ResultsReporter.tar
del /f Win64ResultsReporter.tar.gz
exit /B 0</command>
    </hudson.tasks.BatchFile>
    <EnvInjectBuilder plugin="envinject@1.89">
      <info>
        <propertiesContent>PYTHONUNBUFFERED=1
ISCMDBLD=c:\Progra~2\Instal~1\2014SA~1\system\iscmdbld.exe</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_ui_ci</project>
      <filter>bin/Release/TestCenter.Windows.no_version.tar.gz, BLL_changelist*.txt, UI_changelist*.txt,bin/Release/STAKCommands.beta.Windows.tar.gz</filter>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed Regression</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>echo extracting TestCenter.Windows.no_version.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_UI%
python framework\tools\buildUtil\package.py --install TestCenter.Windows.no_version.tar.gz --directory=bin/Release
echo extracting STAKCommands.beta.Windows.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_UI%
python framework\tools\buildUtil\package.py --install STAKCommands.beta.Windows.tar.gz --directory=STAKCommands


REM 0-padding build number
SET FULLVER=00%BLL_BUILD_NUMBER%6
if %BLL_BUILD_NUMBER% gtr 9 SET FULLVER=0%BLL_BUILD_NUMBER%6
if %BLL_BUILD_NUMBER% gtr 99 SET FULLVER=%BLL_BUILD_NUMBER%6
echo FULLVER is %FULLVER%

xcopy  /S /I /E /Y  %WORKSPACE%\STAKCommands\STAKCommands\*.* M:\TestCenter\%STC_MAJ_MIN_VERSION%\Engineering_Builds\GUI_BLL\%STC_MAJ_MIN_VERSION%.%FULLVER%\STAKCommands

</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>REM 0-padding build number
SET FULLVER=00%BLL_BUILD_NUMBER%6
if %BLL_BUILD_NUMBER% gtr 9 SET FULLVER=0%BLL_BUILD_NUMBER%6
if %BLL_BUILD_NUMBER% gtr 99 SET FULLVER=%BLL_BUILD_NUMBER%6
echo FULLVER is %FULLVER%

xcopy  /S /I /E /Y  %WORKSPACE%\framework\automation\scripting\stc\SampleScripts\*.* M:\TestCenter\%STC_MAJ_MIN_VERSION%\Engineering_Builds\GUI_BLL\%STC_MAJ_MIN_VERSION%.%FULLVER%\SampleScripts

REM downloading webhelp files from Artifactory
del /f /q TestCenter_WebHelp.tar* ServerManager_WebHelp.tar* EnhancedResults_WebHelp.tar*
curl -o TestCenter_WebHelp.tar.gz https://artifactory.cal.ci.spirentcom.com/artifactory/STC/webhelp/%STC_MAJ_MIN_VERSION%/TestCenter_WebHelp.tar.gz
curl -o ServerManager_WebHelp.tar.gz https://artifactory.cal.ci.spirentcom.com/artifactory/STC/webhelp/%STC_MAJ_MIN_VERSION%/ServerManager_WebHelp.tar.gz
curl -o EnhancedResults_WebHelp.tar.gz https://artifactory.cal.ci.spirentcom.com/artifactory/STC/webhelp/%STC_MAJ_MIN_VERSION%/EnhancedResults_WebHelp.tar.gz</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_results_reporter_windows_ci</project>
      <filter>Win32ResultsReporter.tar.gz,Win64ResultsReporter.tar.gz</filter>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>echo extracting Win32ResultsReporter.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_RESULTS_REPORTER_WINDOWS%
python framework\tools\buildUtil\package.py --install Win32ResultsReporter.tar.gz --directory=framework/ui/resultsanalysis/dist

p4 info
set

c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --updaterrjarversion=yes



echo extracting Win64ResultsReporter.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_RESULTS_REPORTER_WINDOWS%
python framework\tools\buildUtil\package.py --install Win64ResultsReporter.tar.gz --directory=framework/ui/resultsanalysis/windows_dist/windows_x64

p4 info
set

c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --updaterrjarversion64=yes

echo zip Win64ResultsReporter.tar.gz
del /f /q Win64ResultsReporter.tar.gz

7z a -ttar Win64ResultsReporter.tar %WORKSPACE%\framework\ui\resultsanalysis\windows_dist\windows_x64\*
7z a -tgzip Win64ResultsReporter.tar.gz Win64ResultsReporter.tar

c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --runcopywinrr64tomartin=yes 
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>
REM -- not required for 4.77 -- copy \\storage.cal.ci.spirentcom.com\builds\stcweb\windows\stc-rest-win32.tar.gz stc-rest-win32.tar.gz 
REM -- not required for 4.77 --  7z x stc-rest-win32.tar.gz
REM -- not required for 4.77 --  7z x -y -o"%WORKSPACE%\bin\Release" stc-rest-win32.tar

REM set URL=https://jenkins.oriondev.net/job/stc-web/lastSuccessfulBuild/s3/download/stc-rest-win32.tar.gz
REM python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --downloadfilefromurl=%URL%
del /f /q stc-rest-win32.tar
7z x stc-rest-win32.tar.gz
7z x -y -o"%WORKSPACE%\bin\Release" stc-rest-win32.tar


REM -- Process api navigator ---
copy api-navigator.exe %WORKSPACE%\bin\Release\api-navigator.exe

REM -- Process OpenHLT ---
del /f /q oht-rest-win32*.tar
7z x oht-rest-win32.tar.gz
7z x -y -o"%WORKSPACE%\bin\Release" oht-rest-win32.tar
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd %WORKSPACE%\bin\release
SET DEPENDENT_JOB_NAME=%JOB_NAME%
SET P4USER=scmbuild
SET P4PORT=perforce.spirentcom.com:1666
copy  c:\jenkins-rel\release_bll_windows_packaging_new\bin\Release\NTAF\tool\Stc420Publication.xml  c:\jenkins-rel\release_bll_windows_packaging_new\bin\Release\NTAF\tool\Stc500Publication.xml /y



c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --createpropfile=yes --runcimaketarballs=no --runsetver=yes --updateilversionxml=yes --updatereleasetag=yes --updatepkgindextcl=yes --updatespirenttestcentertcl=yes --updatestclibtcl=yes --updategemspecversion=yes --updatentafxml=yes --updatehltapiversion=yes --updatemagellanversion=yes

perl %WORKSPACE%\Build_Scripts\STC_Build_Scripts\ci_packageinstaller.pl %WORKSPACE% %WORKSPACE%\Installer %STC_MAJ_MIN_VERSION%.%FULLVER% STC_APP_COPY_ONLY

del /f /q %WORKSPACE%\Installer
rd /s /q %WORKSPACE%\Installer
mkdir %WORKSPACE%\Installer

perl %WORKSPACE%\Build_Scripts\STC_Build_Scripts\ci_packageinstaller.pl %WORKSPACE% %WORKSPACE%\Installer %STC_MAJ_MIN_VERSION%.%FULLVER% COMPILE_FORTHOT


perl %WORKSPACE%\Build_Scripts\STC_Build_Scripts\ci_packageinstaller.pl %WORKSPACE% %WORKSPACE%\Installer %STC_MAJ_MIN_VERSION%.%FULLVER% PACKAGE_P2_INSTALLER

perl %WORKSPACE%\Build_Scripts\STC_Build_Scripts\ci_packageinstaller.pl %WORKSPACE% %WORKSPACE%\Installer %STC_MAJ_MIN_VERSION%.%FULLVER% COPY_P2_INSTALLER
rem exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>setlocal EnableExtensions DisableDelayedExpansion

set branch=%STC_MAJ_MIN_VERSION%
set release=\\devops-nas-1.cal.ci.spirentcom.com\builds\NoCrypto\%branch%\window\Release

rd /s /q "%release%"

if not exist %release% ( mkdir %release% )


copy %WORKSPACE%\TestCenter.Windows.no_version.tar.gz %release%\TestCenter.Windows.no_version.tar.gz /y
copy %WORKSPACE%\STAKCommands.beta.Windows.tar.gz %release%\STAKCommands.beta.Windows.tar.gz /y</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>Win64ResultsReporter.tar.gz, BLL_changelist*.txt, UI_changelist*.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>scmteam@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern/>
      <presendScript/>
      <postsendScript/>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix/>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>properties.txt</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>release_set_status</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.13.1">
      <details>
        <artifactoryName>artifactory.cal.ci.spirentcom.com</artifactoryName>
        <artifactoryUrl>https://artifactory.cal.ci.spirentcom.com/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </details>
      <resolverDetails>
        <artifactoryName>artifactory.srv.orionprod.net</artifactoryName>
        <artifactoryUrl>https://artifactory.srv.orionprod.net/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username/>
          <password/>
        </credentials>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username/>
          <password/>
        </credentials>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec>{
    "files": [
        {
            "pattern": "$WORKSPACE/bin/Release/Resource.zip",
            "target": "STC/DataModel/Resource-${STC_MAJ_MIN_VERSION}.zip",
            "flat": "true",
            "props": "STC_MAJ_MIN_VERSION=$STC_MAJ_MIN_VERSION"
        }
    ]
}</spec>
      </uploadSpec>
      <downloadSpec>
        <spec>{
    "files": [
        {
            "pattern": "stc-web/stc-rest-win32.tar.gz",
            "target": "./stc-rest-win32.tar.gz",
            "flat": "true"
        },
       {
            "pattern": "stc/api-navigator/api-navigator-windows-386.exe",
            "target": "./api-navigator.exe",
            "flat": "true"
        },
       {
            "pattern": "stc/oht-web/oht-rest-win32.tar.gz",
            "target": "./oht-rest-win32.tar.gz",
            "flat": "true"
        }
    ]
}</spec>
      </downloadSpec>
      <deployPattern/>
      <resolvePattern/>
      <matrixParams/>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.BatchFile>
          <command>setlocal enabledelayedexpansion
SET modified=%WORKSPACE:/=\%
if "%P4CLEANWORKSPACE%" == "true" (

echo "Removing %modified%"
rd /s /q %modified%
REM jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}
echo 9R1Y9fE4$PSH|p4 -u tableuser -p perforce.spirentcom.com:1666 login
p4 -u tableuser -p perforce.spirentcom.com:1666 -c jenkins-%NODE_NAME%-%JOB_NAME%-%BRANCH_NAME% sync //jenkins-%NODE_NAME%-%JOB_NAME%-%BRANCH_NAME%/...#none &gt; clean.txt
)</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>