<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>Retrieve Provisioning_WebHelp.tar.gz</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>4.56_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description>Build number</description>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description/>
          <defaultValue>4.56</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.33">
    <configVersion>2</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd/>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}_${BRANCH_NAME}</p4Client>
    <projectPath>+//TestCenter/${BRANCH_NAME}/... //ws/...
//SCM/Build_Scripts/STC_Build_Scripts/... //ws/Build_Scripts/STC_Build_Scripts/...
//SCM/*${STC_MAJ_MIN_VERSION}*.ver //ws/*${STC_MAJ_MIN_VERSION}*.ver
//SCM/Installer/ProvManager_${BRANCH_NAME}/... //ws/DMCP_Installer/...
-//TestCenter/*/Layer1/...
-//TestCenter/*/userdocauto/...
-//TestCenter/*/sandbox/...
-//TestCenter/*/.../il/...
-//TestCenter/*/.../hw/...
-//TestCenter/*/.../WebHelp/...
-//TestCenter/*/content/cts/...
-//TestCenter/*/common/lib/java/...
-//TestCenter/*/common/tools/scons/...
-//TestCenter/*/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Bakeoff_TestCaseScripts/...
-//TestCenter/*/other/...
-//TestCenter/*/documents/...
-//TestCenter/*/schedules/...
-//TestCenter/*/scm/...
-//TestCenter/*/regression/...
+//TestCenter/${BRANCH_NAME}/build/il/... //ws/build/il/...
-//TestCenter/${BRANCH_NAME}/build/il/cli/... //ws/build/il/cli/...
-//TestCenter/${BRANCH_NAME}/build/il/testframework/... //ws/build/il/testframework/...
-//TestCenter/*/build/il/version
+//TestCenter/${BRANCH_NAME}/common/.../ui/... //ws/common/.../ui/...
+//TestCenter/${BRANCH_NAME}/framework/ui/automation/... //ws/framework/ui/automation/...
+//TestCenter/${BRANCH_NAME}/bin/Release/ProvisionManagerHelp/WebHelp/...  //ws/bin/Release/ProvisionManagerHelp/WebHelp/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner/>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\WINDOWS</p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>true</pollOnlyOnMaster>
  </scm>
  <quietPeriod>1800</quietPeriod>
  <assignedNode>spccalengec06</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesContent>ISCMD=D:\PROGRA~1\InstallShield\2011SA~1\System\iscmdbld.exe</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.BatchFile>
      <command>genSln.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>SET PATH=C:\Python27\;C:\Python27\Scripts\;%PATH%
scons -j 12 -f SConstruct.bll debug=0 target=bll-win32-coreonly

</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>echo "bll-win32-coreonly build complete"
dir bin\release\api
SET PATH=C:\Python27\;C:\Python27\Scripts\;%PATH%
SET STC_BUILD_ROOT=D:\dev\jenkins-rel\workspace\release_ccp_packaging-new
scons -j 12 -f SConstruct.AutomationClient.Only.Gen.bll
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem devenv Core.UI.Gen.sln /build Release
pushd D:\Program Files (x86)\Microsoft Visual Studio 10.0\vc
call vcvarsall.bat x86
popd
echo "Automation client build complete"
dir bin\release\api
msbuild.exe Core.UI.Gen.sln /t:build /p:Configuration=Release
echo "STC Build Complete"
dir bin\release\api

</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>SET PATH=C:\Python27\;C:\Python27\Scripts\;%PATH%
set STC_SRC_PATH=%WORKSPACE%
set STC_REL_PATH=%WORKSPACE%\bin\Release
rd /s /q CCPApplication
hg clone http://mercurial.cal.ci.spirentcom.com/CCPApplication/</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>SET PATH=C:\Python27\;C:\Python27\Scripts\;%PATH%
set STC_SRC_PATH=%WORKSPACE%
set STC_REL_PATH=%WORKSPACE%\bin\Release
cd CCPApplication
dir media\scripts\provmanager.js
echo "c:\Python27\Scripts\scons.bat"
cmd /k c:\Python27\Scripts\scons.bat
cd provmanager
echo "set_version.bat %STC_MAJ_MIN_VERSION%"
set_version.bat %STC_MAJ_MIN_VERSION%</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.33">
      <project>release_ccp_webhelp</project>
      <filter>Provisioning_WebHelp.tar.gz</filter>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.python.Python plugin="python@1.2">
      <command>import os 
import sys
import subprocess
import shutil



# retrieving the current STC build number
# pattern='STC_Build='
branchID='6'
# fin = open(os.environ['WORKSPACE'] + "/stc"+os.environ['STC_MAJ_MIN_VERSION']+".ver", "r")
# for line in fin.readlines():
#      if pattern in line:      
#          print line
#          line = line.replace(pattern,'')
#          buildno = line.rstrip()
#fin.close
stc_build_num_raw = os.environ['BLL_BUILD_NUMBER'] + branchID
stc_build_num = stc_build_num_raw.zfill(4)
print "Build Number is " + os.environ['STC_MAJ_MIN_VERSION'] + "." + stc_build_num
os.environ['STC_BUILD_NUMBER'] = stc_build_num
fullnum = stc_build_num + "0000"
print "Full version number is " +  fullnum

# call setver.py for STC files in CCP
os.system("cd")
os.chdir("CCPApplication\\provmanager\stc")
print "python ..\\..\\..\\framework\\tools\\buildUtil\\setver.py " + os.environ['STC_MAJ_MIN_VERSION'] + " " +  fullnum
#os.system("python ..\\..\\..\\framework\\tools\\buildUtil\\setver.py os.environ['STC_MAJ_MIN_VERSION'] " + fullnum);
# trying out using subprocess
sys.stdout.flush()
retcode = subprocess.call(["Python.exe", "..\\..\\..\\framework\\tools\\buildUtil\\setver.py", os.environ['STC_MAJ_MIN_VERSION'], fullnum])
print "setver returned: "+str(retcode)

# generate installer for the build
ws = os.environ['WORKSPACE']
os.chdir(ws)
ci_installer_cmd = "perl " + ws + "/Build_Scripts/STC_Build_Scripts/ci_packageinstaller.pl " + ws +  " " + ws + "/Installer" + " " + os.environ['STC_MAJ_MIN_VERSION'] + "." + stc_build_num + " PACKAGE_DMCP " + ws
ci_installer_cmd.replace('/', '\\')
print "Executing " + ci_installer_cmd
sys.stdout.flush()
os.system(ci_installer_cmd)

# copy the final installer to \\martin and \\spccafs03
ws.replace('/', '\\')
ccp_installer = ws + "\\Installer\\Cloud Core Provisioning.exe"
martin_dir = "\\\\martin\\archive\\pv\\TestCenter\\" +  os.environ['STC_MAJ_MIN_VERSION']  + "\\Engineering_Builds\\GUI_BLL\\" + os.environ['STC_MAJ_MIN_VERSION'] + "." + stc_build_num
fs03_dir = "\\\\spccalfs03\\development\\scm\\release\\STC\\" + os.environ['STC_MAJ_MIN_VERSION']  + "\\" + os.environ['STC_MAJ_MIN_VERSION'] + "." + stc_build_num

# make sure target directory exists before copying file
if os.path.exists(martin_dir):
        print "srcdir: ", martin_dir, " exists"
else:
        try:
            print "creating: ", martin_dir
            sys.stdout.flush()
            pipe = subprocess.Popen(["cmd", "/c", "mkdir", martin_dir], stdin=subprocess.PIPE)
            pipe.wait()
            pipe.stdin.close()
        except IOError, e:
            print "Unable to create directory. %s" % e    
   
print "Copying " + ccp_installer +  " to " + martin_dir
shutil.copy(ccp_installer, martin_dir)

# make sure target directory exists before copying file
if os.path.exists(fs03_dir):
        print "srcdir: ", fs03_dir, " exists"
else:
        try:
            print "creating: ", fs03_dir
            sys.stdout.flush()
            pipe = subprocess.Popen(["cmd", "/c", "mkdir", fs03_dir], stdin=subprocess.PIPE)
            pipe.wait()
            pipe.stdin.close()
        except IOError, e:
            print "Unable to create directory. %s" % e

print "Copying " + ccp_installer + " to " + fs03_dir
shutil.copy(ccp_installer, fs03_dir )

</command>
    </hudson.plugins.python.Python>
    <hudson.tasks.BatchFile>
      <command>echo "END"
rem cd provmanager\stc
rem SET FULLNUM=0%BUILD_NUMBER%60000
rem if %BUILD_NUMBER% gtr 99 SET FULLNUM=%BUILD_NUMBER%30000
rem echo %FULLNUM%
rem SET FULLVER=00%BUILD_NUMBER%6
rem if %BUILD_NUMBER% gtr 9 SET FULLVER=0%BUILD_NUMBER%3
rem if %BUILD_NUMBER% gtr 99 SET FULLVER=%BUILD_NUMBER%3
rem echo FULLVER is %FULLVER%
rem python ..\..\framework\tools\buildUtil\setver.py "4.20" %FULLNUM%
rem cd %WORKSPACE%
rem  perl %WORKSPACE%\Build_Scripts\STC_Build_Scripts\ci_packageinstaller.pl %WORKSPACE% %WORKSPACE%\Installer %STC_MAJ_MIN_VERSION%.%FULLVER% PACKAGE_DMCP %WORKSPACE%</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.5"/>
    <hudson.tasks.Mailer plugin="mailer@1.12">
      <recipients>somboon.ongkamongkol@spirent.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.15"/>
  </buildWrappers>
</project>