<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>Startup error problem with TestCenter.Windows.tar.gz?

Install the latest vcredist from http://www.microsoft.com/download/en/details.aspx?displaylang=en&amp;id=26347</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.28.1">
      <activeProcessNames>
        <string>Release Build Passed Regression</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain/>
      <token/>
      <room/>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>5.12_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RUN_UNITTEST</name>
          <description>run unittest</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_PACKAGE_BUILD</name>
          <description>package build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>bin/Release</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description>major minor version TODO: get this from a file</description>
          <defaultValue>5.12</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>scmbuild</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName/>
        <line>LOCAL</line>
        <view>+//TestCenter/5.12_rel/... //jenkins-${NODE_NAME}-${JOB_NAME}/...
-//TestCenter/*/Layer1/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/Layer1/...
-//TestCenter/*/userdocauto/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/userdocauto/... 
-//TestCenter/*/sandbox/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/sandbox/...
-//TestCenter/*/.../il/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/.../il/...
-//TestCenter/*/.../hw/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/.../hw/...
-//TestCenter/*/.../WebHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/.../WebHelp/...
-//TestCenter/*/content/cts/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/content/cts/...
-//TestCenter/*/common/lib/java/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/common/lib/java/... 
-//TestCenter/*/common/tools/scons/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/common/tools/scons/...
-//TestCenter/*/framework/ui/resultsanalysis/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/framework/ui/resultsanalysis/...
-//TestCenter/*/common/lib/boost_1_34_0/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Bakeoff_TestCaseScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/Bakeoff_TestCaseScripts/...
-//TestCenter/*/other/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/other/...
-//TestCenter/*/documents/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/documents/...
-//TestCenter/*/schedules/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/schedules/...
-//TestCenter/*/scm/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/scm/...
-//TestCenter/*/regression/... //jenkins-${NODE_NAME}-${JOB_NAME}/TestCenter/*/regression/...
-//TestCenter/*/framework/bll/vendor/lib/i386-* //jenkins-${NODE_NAME}-${JOB_NAME}/*/framework/bll/vendor/lib/i386-*
-//TestCenter/*/common/lib/ACE_wrappers_6.1.6/i386.yocto_i686 //jenkins-${NODE_NAME}-${JOB_NAME}/*/common/lib/ACE_wrappers_6.1.6/i386.yocto_i686 
+//TestCenter/5.12_rel/scm/tools/... //jenkins-${NODE_NAME}-${JOB_NAME}/scm/tools/...
+//TestCenter/5.12_rel/build/il/scripts/... //jenkins-${NODE_NAME}-${JOB_NAME}/build/il/scripts/...
+//TestCenter/5.12_rel/build/il/configs/scripts/... //jenkins-${NODE_NAME}-${JOB_NAME}/build/il/configs/scripts/...</view>
        <type>WRITABLE</type>
        <serverID/>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.SyncOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin/>
      <parallel>
        <enable>false</enable>
        <threads>4</threads>
        <minfiles>1</minfiles>
        <minbytes>1024</minbytes>
      </parallel>
      <revert>false</revert>
    </populate>
  </scm>
  <assignedNode>bllbuild-win-04</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>del UI_changelist_*.txt
echo %P4_CHANGELIST% &gt; UI_changelist_%P4_CHANGELIST%.txt


</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>mkdir __ui_only_build__
del /Q TestCenter.Windows.bll.tar.gz
del BLL_changelist*.txt
rd /s /q bin\Release\STAKCommands
exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_bll_windows_ci</project>
      <filter>bin/Release/TestCenter.Windows.bll.tar.gz, BLL_changelist*.txt,bll_idl_crc.txt</filter>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed on all OS</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>release_bll_windows_ci</project>
      <filter>bin/Release/STAKCommands.beta.Windows.tar.gz</filter>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed on all OS</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>true</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>python framework\tools\buildUtil\package.py --install TestCenter.Windows.bll.tar.gz --directory=bin/Release
python framework\tools\buildUtil\package.py --install STAKCommands.beta.Windows.tar.gz --directory=bin/Release --append</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>python genSln.py
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\Tools
call VsDevCmd.bat -arch=x86
popd
msbuild.exe TestCenter.UI.Gen.sln /t:build /p:Configuration=Release</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>REM cd bin\Release
REM rebase.exe -b 0x12000000 -u . *.dll
REM exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd bin\Release
del TestCenter*.tar.gz
if %BUILD_PACKAGE_BUILD% == true (
xcopy /Y /R /D ..\..\scm\tools\devexpress .
xcopy /Y /R /D ..\..\scm\tools\dundas .
xcopy /Y /R /D ..\..\scm\tools\janus .
python ..\..\framework\tools\buildUtil\package.py --package=TestCenter 
python ..\..\framework\tools\buildUtil\package.py --package=STAKCommands.beta
copy TestCenter.Windows.tar.gz TestCenter.Windows.no_version.tar.gz
python ..\..\framework\tools\buildUtil\setver.py --package=TestCenter.Windows.tar.gz %STC_MAJ_MIN_VERSION% %P4_CHANGELIST%
)</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if %BUILD_RUN_UNITTEST% == true (
cd bin\Release
python ..\..\framework\tools\testRunner\testRunner.py --runInParallel=8 --ui --archive
rmdir /Q /S unit_test_report
mkdir unit_test_report
copy *.html unit_test_report
REM -- coverage report no longer needed # mv *_CoverageReport unit_test_report
)</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${BUILD_OUTPUT_DIR}/TestCenter.Windows*.tar.gz, UI_changelist_*.txt, BLL_changelist*.txt, ${BUILD_OUTPUT_DIR}/UnitTestLogs.tar.gz, ${BUILD_OUTPUT_DIR}/STAKCommands.beta.Windows.tar.gz,bll_idl_crc.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>release_regression_ci,release_regression_changeling_ci,release_bll_windows_debug_ci</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.12">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Coverage Report</reportName>
          <reportDir>bin/Release/unit_test_report</reportDir>
          <reportFiles>index.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>false</keepAll>
          <allowMissing>false</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <hudson.plugins.nunit.NUnitPublisher plugin="nunit@0.18">
      <testResultsPattern>bin/Release/*.nunit.xml</testResultsPattern>
      <debug>false</debug>
      <keepJUnitReports>false</keepJUnitReports>
      <skipJUnitArchiver>false</skipJUnitArchiver>
      <failIfNoResults>false</failIfNoResults>
    </hudson.plugins.nunit.NUnitPublisher>
    <hudson.tasks.Fingerprinter>
      <targets>${BUILD_OUTPUT_DIR}/TestCenter.Windows*.tar.gz, UI_changelist_*.txt, BLL_changelist*.txt,bll_idl_crc.txt</targets>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>devopsteam@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern/>
      <presendScript/>
      <postsendScript/>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix/>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <EnvInjectBuildWrapper plugin="envinject@1.89">
      <info>
        <propertiesContent>STC_BUILD_ROOT=c:\jenkins-rel\workspace\release_ui_ci</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.BatchFile>
          <command>setlocal enabledelayedexpansion
SET modified=%WORKSPACE:/=\%
if "%P4CLEANWORKSPACE%" == "true" (

echo "Removing %modified%"
rd /s /q %modified%\Bakeoff_TestCaseScripts
rd /s /q %modified%\bin
rd /s /q %modified%\build
rd /s /q %modified%\common
rd /s /q %modified%\content
rd /s /q %modified%\framework
rd /s /q %modified%\Layer1
rd /s /q %modified%\Release
rd /s /q %modified%\scm
rd /s /q %modified%\trafficcenter-app
rd /s /q %modified%\userdocauto
del /f /q %modified%\*.*
echo 3LoQdl*vYiz3|p4 -u scmbuild -p perforce.spirentcom.com:1666 login
p4 -u scmbuild -p perforce.spirentcom.com:1666 -c jenkins-%NODE_NAME%-%JOB_NAME% sync //jenkins-%NODE_NAME%-%JOB_NAME%/...#none
)</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>