<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>_Sync SCM build scripts and other files as needed for packaging.&lt;br&gt;&#xd;
Retrieve TestCenter.Linux.tar.gz files from bll_linux build.&lt;br&gt;&#xd;
Retrieve ResultsReporter.Unix.tar.gz file from integration_package_bll_windows build.&lt;br&gt;&#xd;
Extract TestCenter.linux.tar.gz.&lt;br&gt;&#xd;
Extract ResultsReporter.Unix.tar.gz&lt;br&gt;&#xd;
Run setver.py to set the version of the TestCenter binary files.&lt;br&gt;&#xd;
Run ci_make_tarballs.pl to create Linux BLL tarballs&lt;br&gt;&#xd;
Copy build results to \\martin\archive\pv\TestCenter\4.10\Engineering_Builds\integration\BUILDVERSION&lt;br&gt;&#xd;
Jenkins Node(s): spccalengec01, spccalpvxpvm-01, spccalengec02</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>4.46_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>Spirent_TestCenter_Application_Linux_Server</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description>major minor version</description>
          <defaultValue>4.46</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_OS</name>
          <description></description>
          <defaultValue>EL3Linux</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPENDENT_JOB_NAME</name>
          <description></description>
          <defaultValue>release_446_bll_linux_packaging</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_TYPE</name>
          <description></description>
          <defaultValue>RELEASE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.33">
    <configVersion>2</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}_${BRANCH_NAME}</p4Client>
    <projectPath>//SCM/Build_Scripts/STC_Build_Scripts/... //ws/Build_Scripts/STC_Build_Scripts/...
//SCM/Scripts/... //ws/Build_Scripts/Scripts/...
//TestCenter/${BRANCH_NAME}/framework/tools/buildUtil/... //ws/framework/tools/buildUtil/...
//TestCenter/${BRANCH_NAME}/framework/automation/scripting/stc/SampleScripts/... //ws/SampleScripts/...
//TestCenter/${BRANCH_NAME}/content/traffic/l4l7/templates/... //ws/Spirent_TestCenter_Application_Linux_Server/Dpg/...
//TestCenter/${BRANCH_NAME}/content/traffic/l4l7/tools/DpgUpdate/... //ws/Spirent_TestCenter_Application_Linux_Server/Dpg/DpgUpdate/...
//TestCenter/profx_iso/Labserver/rpms/sessionLicensing/RPMS/x86/postinstall //ws/session_licensing/postinstall</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\WINDOWS</p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>true</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>0</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>true</pollOnlyOnMaster>
  </scm>
  <assignedNode>spccalengec02</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JOB_NAME}</customWorkspace>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.33">
      <project>release_446_bll_linux_ci</project>
      <filter>build/il/bld_bll-el3_x86/Release/bin/TestCenter.Linux.tar.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>Release Build Passed Regression</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>del /f /q BUILD_*.txt&#xd;
echo extracting TestCenter.Linux.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_BLL_LINUX%&#xd;
rem python framework\tools\buildUtil\package.py --install TestCenter.Linux.tar.gz&#xd;
&#xd;
rd /s /q Spirent_TestCenter_Application_Linux_Server&#xd;
&#xd;
7z x TestCenter.Linux.tar.gz &gt; 7zextract_TestCenter.Linux.tar.txt&#xd;
7z x -y TestCenter.Linux.tar &gt;&gt; 7zextract_TestCenter.Linux.tar.txt&#xd;
del TestCenter.Linux.tar&#xd;
del /f /q stcapi_linux*.tgz&#xd;
del /f /q install_stcapi*.py&#xd;
&#xd;
copy session_licensing\postinstall Spirent_TestCenter_Application_Linux_Server\postinstall</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.33">
      <project>release_446_bll_windows_packaging_new</project>
      <filter>ResultsReporter.Unix.tar.gz, EAT.Unix.tar.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.33">
      <project>release_446_launch_nightly_packaging</project>
      <filter>BUILD_*.txt</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>echo &quot;Running ci_cleanup_by_date.pl.&quot;&#xd;
perl %WORKSPACE%\Build_Scripts\Scripts\ci_cleanup_by_date.pl</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>echo extracting EAT.Unix.tar.gz and ResultsReporter.Unix.tar.gz file from job %COPYARTIFACT_BUILD_NUMBER_INTEGRATION_PACKAGE_BLL_WINDOWS%&#xd;
&#xd;
7z x EAT.Unix.tar.gz &gt; 7zextract_EAT.Unix.tar.txt&#xd;
7z x -y -o&quot;%WORKSPACE%\Extreme Automation Toolkit - Linux&quot; EAT.Unix.tar &gt;&gt; 7zextract_EAT.Unix.tar.txt&#xd;
del EAT.Unix.tar&#xd;
&#xd;
7z x ResultsReporter.Unix.tar.gz &gt; 7zextract_ResultsReporter.Unix.tar.txt&#xd;
7z x -y -o&quot;%WORKSPACE%\Results Reporter - Unix&quot; ResultsReporter.Unix.tar &gt;&gt; 7zextract_ResultsReporter.Unix.tar.txt&#xd;
del ResultsReporter.Unix.tar</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd Spirent_TestCenter_Application_Linux_Server&#xd;
attrib /s -r *&#xd;
&#xd;
if &quot;%BLL_BUILD_NUMBER%&quot;==&quot;BAD_BUILD_NUMBER&quot; SET BLL_BUILD_NUMBER=%BUILD_NUMBER%&#xd;
echo BLL_BUILD_NUMBER is %BLL_BUILD_NUMBER%&#xd;
SET FULLVER=00%BLL_BUILD_NUMBER%6&#xd;
if %BLL_BUILD_NUMBER% gtr 9 SET FULLVER=0%BLL_BUILD_NUMBER%6&#xd;
if %BLL_BUILD_NUMBER% gtr 99 SET FULLVER=%BLL_BUILD_NUMBER%6&#xd;
echo FULLVER is %FULLVER%&#xd;
xcopy &quot;%WORKSPACE%\Extreme Automation Toolkit - Linux&quot; &quot;\\martin\archive\pv\TestCenter\%STC_MAJ_MIN_VERSION%\Engineering_Builds\GUI_BLL\%STC_MAJ_MIN_VERSION%.%FULLVER%\Extreme Automation Toolkit - Linux&quot; /i /e /Y /H</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>SET SOURCE_OS=EL3Linux&#xd;
SET DEPENDENT_JOB_NAME=%JOB_NAME%&#xd;
c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --createpropfile=no --runsetver=no --runcopyeattomartin=no --updatepkgindextcl=yes --updatespirenttestcentertcl=yes --updatestclibtcl=yes --updategemspecversion=yes --runcimaketarballs=no --updateilversionxml=yes&#xd;
&#xd;
c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --createpropfile=yes --runcimaketarballs=yes --runsetver=no --runcopyeattomartin=yes</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.33">
      <project>stcapi_rest_api</project>
      <filter>deployment/stcapi_linux*.tgz,deployment/install_stcapi*.py</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.BatchFile>
      <command>SET SOURCE_OS=EL3LinuxServer&#xd;
c:\python27\python %WORKSPACE%\Build_Scripts\Scripts\ci_run_jenkins_steps.py --createpropfile=no --runcimakelstarballs=yes --runsetver=no</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Fingerprinter>
      <targets>TestCenter.Linux.tar.gz,BUILD_*.txt</targets>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.5"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_RECIPIENTS</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>properties.txt</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>release_446_set_status,release_446_copy_to_spccalfs03_packaging,release_446_bll_linux_rpm_packaging</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.15"/>
  </buildWrappers>
</project>