<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build bll-freebsd7-baseonly target&lt;br&gt;
Run Unit test testbase&lt;br&gt;
Create directory structure needed for the Tarball&lt;br&gt;
Create tar.gz file&lt;br&gt;
Call the FTP tarball job which copies the Tarball over to Martin&lt;br&gt;
Jenkins Node(s): 10.1.20.18 &lt;br&gt;
Wait 20 minutes to stagger builds (1200) seconds.&lt;br&gt;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>4.61_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RUN_UNITTEST</name>
          <description>run unittest</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>build/il/bld_bll-freebsd7-baseonly_x86/Release/bin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description>major minor version TODO: get this from a file</description>
          <defaultValue>4.61</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BLL_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>BAD_BUILD_NUMBER</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE_BUILD</name>
          <description>Flag whether or not this build is a release build candidate. If a build is a release candidate then STC_CR license/entitlement will be disabled
</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_TYPE</name>
          <description>Should be either RELEASE, Alpha or Beta</description>
          <defaultValue>RELEASE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.34">
    <configVersion>2</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}_${BRANCH_NAME}</p4Client>
    <projectPath>//SCM/Scripts/ci_* //ws/Build_Scripts/Scripts/ci_*
+//TestCenter/${BRANCH_NAME}/... //ws/...
-//TestCenter/*/Layer1/...
-//TestCenter/*/userdocauto/...
-//TestCenter/*/sandbox/...
-//TestCenter/*/.../il/...
-//TestCenter/*/.../hw/...
-//TestCenter/*/.../WebHelp/...
-//TestCenter/*/content/cts/...
-//TestCenter/*/common/lib/java/...
-//TestCenter/*/common/tools/scons/...
-//TestCenter/*/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Bakeoff_TestCaseScripts/...
-//TestCenter/*/other/...
-//TestCenter/*/documents/...
-//TestCenter/*/schedules/...
-//TestCenter/*/scm/...
-//TestCenter/*/regression/...
+//TestCenter/${BRANCH_NAME}/build/il/... //ws/build/il/...
-//TestCenter/${BRANCH_NAME}/build/il/cli/... //ws/build/il/cli/...
-//TestCenter/${BRANCH_NAME}/build/il/testframework/... //ws/build/il/testframework/...
-//TestCenter/*/.../ui/...
+//TestCenter/${BRANCH_NAME}/common/.../ui/... //ws/common/.../ui/...
+//TestCenter/${BRANCH_NAME}/framework/ui/automation/... //ws/framework/ui/automation/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner></clientOwner>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\WINDOWS</p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>true</pollOnlyOnMaster>
  </scm>
  <quietPeriod>1200</quietPeriod>
  <assignedNode>bllbldbsd71-02</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo LD_LIBRARY_PATH is $LD_LIBRARY_PATH
# rm -rf $WORKSPACE/$BUILD_OUTPUT_DIR/API

if [ &quot;$RELEASE_BUILD&quot; = &quot;true&quot; ]; then
    cp -f $WORKSPACE/framework/bll/core/include/licensing/ga_release/ControlledReleaseCheck.h $WORKSPACE/framework/bll/core/include/licensing/ControlledReleaseCheck.h
fi

python genSln.py</command>
    </hudson.tasks.Shell>
    <com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile plugin="scons@0.4">
      <options>-j 8 -k -f SConstruct.bll </options>
      <variables>target=bll-freebsd7-baseonly</variables>
      <targets></targets>
      <rootSconsscriptDirectory></rootSconsscriptDirectory>
      <sconsscript></sconsscript>
    </com.thalesgroup.hudson.plugins.scons.SConsBuilderScriptFile>
    <hudson.tasks.Shell>
      <command>if [ &quot;$BUILD_RUN_UNITTEST&quot; = &quot;true&quot; ]; then
    echo $WORKSPACE/$BUILD_OUTPUT_DIR
    cd $WORKSPACE/$BUILD_OUTPUT_DIR
    export LD_LIBRARY_PATH=$WORKSPACE/$BUILD_OUTPUT_DIR:.:
    python $WORKSPACE/framework/tools/testRunner/testRunner.py testbase
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd $BUILD_OUTPUT_DIR
export SOURCE_OS=FreeBSD71
cp -f $WORKSPACE/framework/bll/core/install/release/ILVersion.xml ILVersion.xml
python $WORKSPACE/Build_Scripts/Scripts/ci_run_jenkins_steps.py --createpropfile=yes --runsetver=yes --updatepkgindextcl=yes --updatespirenttestcentertcl=yes --updatestclibtcl=yes --updateilversionxml=yes</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>if [ -d Spirent_TestCenter_$STC_MAJ_MIN_VERSION ]; then
	echo &quot;Spirent_TestCenter_$STC_MAJ_MIN_VERSION exists!&quot;
else
	mkdir Spirent_TestCenter_$STC_MAJ_MIN_VERSION
fi
cd Spirent_TestCenter_$STC_MAJ_MIN_VERSION

if [ -d Spirent_TestCenter_Application_FreeBSD71 ]; then
	echo &quot;Spirent_TestCenter_Application_FreeBSD71 exists!&quot;
else
	mkdir Spirent_TestCenter_Application_FreeBSD71
fi
cd Spirent_TestCenter_Application_FreeBSD71/
# rm -r $WORKSPACE/Spirent_TestCenter_Application_FreeBSD/*
cp -rf $WORKSPACE/$BUILD_OUTPUT_DIR/API $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
# cp -rf $WORKSPACE/$BUILD_OUTPUT_DIR/HelpInfo $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -f $WORKSPACE/$BUILD_OUTPUT_DIR/HelpInfo.zip $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -f $WORKSPACE/$BUILD_OUTPUT_DIR/Resource.zip $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -rf $WORKSPACE/$BUILD_OUTPUT_DIR/Templates $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -rf $WORKSPACE/$BUILD_OUTPUT_DIR/Model $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -f $WORKSPACE/framework/bll/core/install/release/ILVersion.xml $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71
cp -f $WORKSPACE/$BUILD_OUTPUT_DIR/stcbll.ini $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71

for file in .tcl .pl .pm .py .a .so .xml .so* ;do
 if ( ls $WORKSPACE/$BUILD_OUTPUT_DIR/*$file &gt;/dev/null) then
    echo &quot;$file file exists!&quot;
    cp -f $WORKSPACE/$BUILD_OUTPUT_DIR/*$file $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71/
  else
    echo &quot;There are no files matching the pattern: $file to copy!&quot;
  fi
done

for file in test*.xml correct*.xml source*.xml test*.tcl correct*.tcl unused*.tcl lib*.a stcFtpd.tcl tclCmdline.tcl tclFtpd.tcl ;do
 if ( ls $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71/$file &gt;/dev/null) then
    echo &quot;$file file exists!&quot;
    rm -f $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION/Spirent_TestCenter_Application_FreeBSD71/$file
  else
    echo &quot;There are no files matching the pattern: $file to delete!&quot;
  fi
done

sudo chmod a+rx $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION
sudo chmod -R o+rw $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION
sudo chmod -R a+rw $WORKSPACE/Spirent_TestCenter_$STC_MAJ_MIN_VERSION</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>rm -f Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar
if [ -f Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar.gz ]; then
    echo removing Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar.gz
    rm -f Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar.gz
else
    echo Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar.gz does not exist.
fi
tar cvf Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar Spirent_TestCenter_$STC_MAJ_MIN_VERSION
gzip Spirent_TestCenter_Auto_FreeBSD71_$STC_MAJ_MIN_VERSION.tar
echo &quot;Finished creating tar files&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.5"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_RECIPIENTS</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>properties.txt</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>release_ftp_tarball_packaging</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.16"/>
  </buildWrappers>
</project>