<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <org.datadog.jenkins.plugins.datadog.DatadogJobProperty plugin="datadog@1.1.1">
      <enableFile>false</enableFile>
      <tagFile/>
      <enableProperty>false</enableProperty>
      <tagProperties/>
      <emitSCMEvents>true</emitSCMEvents>
    </org.datadog.jenkins.plugins.datadog.DatadogJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>15</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.28.1">
      <activeProcessNames>
        <string>Release Build Passed Regression</string>
        <string>Release Build Passed on all OS</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain/>
      <token/>
      <room/>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>5.14_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RUN_UNITTEST</name>
          <description>run unittest</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_PACKAGE_BUILD</name>
          <description>package build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>bin/Release</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_SAVE_PDB</name>
          <description>save pdb</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE_BUILD</name>
          <description>Flag whether or not this build is a release build candidate. If a build is a release candidate then STC_CR license/entitlement will be disabled
</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description/>
          <defaultValue>5.14</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAGELLAN_FRONTEND_PATH</name>
          <description>Path to magellan frontend artifact in Artifactory (https://artifactory.srv.orionprod.net)</description>
          <defaultValue>stc/temeva/magellan-frontend-commit/695/magellan-frontend.tgz</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAGELLAN_BACKEND_PATH</name>
          <description>Path to magellan backend artifact (orion-res) in Artifactory (https://artifactory.srv.orionprod.net)</description>
          <defaultValue> stc/temeva/magellan-backend-commit/345</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHANGEL_PATH</name>
          <description>Path to archangle artifact in Artifactory (https://artifactory.srv.orionprod.net)

</description>
          <defaultValue>stc/archangel/archangel-publish/release/testcenter-v5.10/421</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>tableuser</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName/>
        <line>LOCAL</line>
        <view>+//TestCenter/${BRANCH_NAME}/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/...
-//TestCenter/*/Layer1/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/Layer1/...
-//TestCenter/*/userdocauto/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/userdocauto/...
-//TestCenter/*/sandbox/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/sandbox/...
-//TestCenter/*/.../il/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/.../il/...
-//TestCenter/*/.../hw/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/.../hw/...
-//TestCenter/*/.../WebHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/.../WebHelp/...
-//TestCenter/*/content/cts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/content/cts/...
-//TestCenter/*/common/lib/java/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/common/lib/java/... 
-//TestCenter/*/common/tools/scons/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/common/tools/scons/... 
-//TestCenter/*/framework/ui/resultsanalysis/tools/jvm/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/common/lib/boost_1_34_0/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Bakeoff_TestCaseScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/Bakeoff_TestCaseScripts/... 
-//TestCenter/*/other/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/other/...
-//TestCenter/*/documents/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/documents/... 
-//TestCenter/*/dmcp/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/dmcp/...
-//TestCenter/*/schedules/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/schedules/...
-//TestCenter/*/scm/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/scm/...
-//TestCenter/*/regression/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/regression/... 
+//TestCenter/${BRANCH_NAME}/build/il/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/build/il/...
-//TestCenter/${BRANCH_NAME}/build/il/cli/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/build/il/cli/...
-//TestCenter/${BRANCH_NAME}/build/il/testframework/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/build/il/testframework/...
-//TestCenter/*/common/lib/ACE_wrappers_6.1.6/i386.yocto_i686 //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/common/lib/ACE_wrappers_6.1.6/i386.yocto_i686 
-//TestCenter/*/framework/bll/vendor/lib/i386-* //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/framework/bll/vendor/lib/i386-*
-//TestCenter/*/build/il/version //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/build/il/version
-//TestCenter/*/.../ui/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/*/.../ui/... 
+//TestCenter/${BRANCH_NAME}/common/.../ui/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/common/.../ui/...
+//TestCenter/${BRANCH_NAME}/framework/ui/automation/... //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/framework/ui/automation/...
+//SCM/Scripts/bll_cleanuptmps.py //jenkins-${NODE_NAME}-${JOB_NAME}-${BRANCH_NAME}/bll_cleanuptmps.py</view>
        <type>WRITABLE</type>
        <serverID/>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.SyncOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin/>
      <parallel>
        <enable>false</enable>
        <threads>4</threads>
        <minfiles>1</minfiles>
        <minbytes>1024</minbytes>
      </parallel>
      <revert>false</revert>
    </populate>
  </scm>
  <assignedNode>bllbuild-win-01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>del BLL_changelist_*.txt
echo %P4_CHANGELIST% %JOB_NAME% %BUILD_NUMBER% &gt; BLL_changelist_%P4_CHANGELIST%.txt
python bll_cleanuptmps.py



</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command>import urllib2
import os
import base64
import json

username = 'builder'
password = os.environ['AF_PASSWORD']

af_base_url = 'https://artifactory.srv.orionprod.net/artifactory/api/storage'
url = af_base_url + '/' + os.environ['MAGELLAN_FRONTEND_PATH'] + '?properties' # "pattern" from AF plugin config section above

print url
# -- creating request object with auth.
request = urllib2.Request(url)
base64string = base64.b64encode('%s:%s' % (username, password))
request.add_header("Authorization", "Basic %s" % base64string)

# -- Open url and process json output
result = urllib2.urlopen(request)
props = json.loads(result.read())
magellan_fe_build = props['properties']['build.number'][0]

print "Magellan FrontEnd build number: " + magellan_fe_build

</command>
    </hudson.plugins.python.Python>
    <hudson.tasks.BatchFile>
      <command>echo P4CHANGESTART %P4_CHANGELIST% P4CHANGEEND
genSln.bat

scons.cmd -v 
rd /s /q bin\Release\STAKCommands
exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if "%RELEASE_BUILD%" == "true" (
attrib -r framework\bll\core\include\licensing\ControlledReleaseCheck.h
copy framework\bll\core\include\licensing\ga_release\ControlledReleaseCheck.h framework\bll\core\include\licensing\ControlledReleaseCheck.h /y

)</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command># update ILVersion.xml file as this is needed by NTAF
import os
import sys
import subprocess
import optparse
import glob
import shutil
import re

stc_maj_min_ver=os.environ['STC_MAJ_MIN_VERSION']
print "\nIN:_run_update_ilversion_xml"
ilversion_xml_path = os.path.join(os.environ['WORKSPACE'], 'framework', 'bll', 'core', 'install', 'release', 'ILVersion.xml')
tmpfile = ilversion_xml_path + ".new"
print "ILVerson.xml path: ", ilversion_xml_path

ilbuildnumber = '0000'

f1 = open(ilversion_xml_path, 'r') 
f2 = open('yourBigFile.txt.tmp', 'w') 
for line in f1.readlines(): 
	match = re.search( 'StcSystem Version=' , line )
	if match : 
	    line = '&lt;StcSystem Version="' + stc_maj_min_ver + '"&gt;\n'

	match = re.search( 'TestModule Id=' , line )
	if match : 
	        line = '&lt;TestModule Id="Firmware" Version=\"' + stc_maj_min_ver + '.' + ilbuildnumber + '"' + ' CheckExactVersion="true"/&gt;\n'
	
	match = re.search( 'TestPackage Id="stc"' , line )
	if match : 
	        line = '&lt;TestPackage Id="stc" Version="' + stc_maj_min_ver + '.' + ilbuildnumber + '"' + ' CheckExactVersion="true"/&gt;\n'
	
	match = re.search( 'TestPackage Id="l2l3"' , line )
	if match : 
	        line = '&lt;TestPackage Id="l2l3" Version="' + stc_maj_min_ver + '.' + ilbuildnumber + '"' + ' CheckExactVersion="true"/&gt;\n'
	f2.write(line) 

f1.close() 
f2.close() 

if os.path.exists("ILVersion.old"):
	sys.stdout.flush()
	pipe = subprocess.Popen(["cmd", "/c", "attrib",  "-r", "ILVersion.old"], stdout=subprocess.PIPE)
	pipe.wait()
	attrib_output = pipe.stdout.read()
	print "attrib output: " + attrib_output
	os.remove('ILVersion.old')       
	
os.rename(ilversion_xml_path, "ILVersion.old")
os.rename("yourBigFile.txt.tmp", ilversion_xml_path) 
print "_run_update_ilversion_xml: complete"</command>
    </hudson.plugins.python.Python>
    <hudson.tasks.BatchFile>
      <command>rem devenv /build Release Framework.BLL.Gen.sln
rem devenv /build Release Plugins.BLL.Gen.sln
rem devenv /build Release TestCenter.Automation.Gen.sln

.\scons.cmd -j 12 -f SConstruct.bll debug=0 target=bll-win32</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd bin\Release
rebase.exe -b 0x12000000 -u . *.dll
exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if %BUILD_SAVE_PDB% == true (

cd bin\Release
rmdir /q /s pdb
mkdir pdb
copy *.pdb pdb
del /q pdb\test*.pdb
copy TestCenter*.pdb pdb

set P4PORT=perforce.spirentcom.com:1666
set P4USER=tableuser
set P4CLIENT=%p4Client%
"C:\Program Files (x86)\Debugging Tools for Windows (x86)\srcsrv\p4index.cmd" -source=%WORKSPACE% -symbols=pdb -debug

"C:\Program Files (x86)\Debugging Tools for Windows (x86)\symstore" add /f %WORKSPACE%\bin\Release\pdb\*.pdb /s \\archive.cal.ci.spirentcom.com\symbols\testcenter_ci /t SpirentTestCenter
"C:\Program Files (x86)\Debugging Tools for Windows (x86)\symstore" add /f %WORKSPACE%\bin\Release\*.dll /s \\archive.cal.ci.spirentcom.com\symbols\testcenter_ci /t SpirentTestCenter
REM "C:\Program Files (x86)\Debugging Tools for Windows (x86)\agestore" \\archive.cal.ci.spirentcom.com\symbols\testcenter_ci -days 20

rmdir /q /s pdb
)</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>python.exe framework\tools\buildUtil\pw_build_tracker.py --build_dir="c:\jenkins\workspace\release_bll_windows_ci\bin\Release"
python.exe common\idl\crc.py -f bll_idl_crc.txt --desc "%JOB_NAME% %BUILD_NUMBER%"</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if %BUILD_RUN_UNITTEST% == true (
cd bin\Release
python ..\..\framework\tools\testRunner\testRunner.py --runInParallel=8 --bll --stak --archive
)</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command>import os
import zipfile
import urllib2
import tarfile
import shutil

def _download_file_from_url(url=None):
    file_name = url.split('/')[-1]
    u = urllib2.urlopen(url)
    f = open(file_name, 'wb')
    meta = u.info()
    file_size = int(meta.getheaders("Content-Length")[0])
    print "Downloading: %s Bytes: %s" % (file_name, file_size)

    file_size_dl = 0
    block_sz = 8192
    while True:
        buffer = u.read(block_sz)
        if not buffer:
            break

        file_size_dl += len(buffer)
        f.write(buffer)
        status = r"%10d  [%3.2f%%]" % (file_size_dl, file_size_dl * 100. / file_size)
        status = status + chr(8)*(len(status)+1)
        print status,

    f.close()

def unzip(fname,dir_name):
    if (fname.endswith("zip")):
        zip_ref = zipfile.ZipFile(fname, 'r')
        zip_ref.extractall(dir_name)
        zip_ref.close()
        print "Extracted in %s Directory" % dir_name
    else:
        print "Not a zip file: '%s '" % fname

def extract_tarball(fname):
    if ( fname.endswith("tgz") or fname.endswith("tar.gz") ):
        tar = tarfile.open(fname, "r:gz")
        tar.extractall()
        tar.close()
    elif (fname.endswith("tar")):
       tar = tarfile.open(fname, "r:")
       tar.extractall()
       tar.close()
        

zip_filename = 'orion-res.windows-386.zip'
orion_res_output_dir = os.path.join(os.environ['WORKSPACE'], 'bin', 'Release', 'orion-res')
if os.path.exists(orion_res_output_dir):
    shutil.rmtree(orion_res_output_dir) # clean up previous output dir if exists
unzip(zip_filename, orion_res_output_dir)


os.chdir('bin')
tgz_filename = 'magellan-frontend.tgz'
if os.path.exists('build'):
    shutil.rmtree('build') # clean up previous output dir from tgz file if exists
extract_tarball(tgz_filename)
shutil.move('build', os.path.join(orion_res_output_dir, 'content'))

bin_rel_dir=os.path.join(os.environ['WORKSPACE'],os.environ['BUILD_OUTPUT_DIR'])
os.chdir(bin_rel_dir)
archangel_web_dir = os.path.join(bin_rel_dir, 'web')
if os.path.exists(archangel_web_dir):
    shutil.rmtree(archangel_web_dir) # clean up previous output dir if exists
    
for file in ['enhancedl47.exe', 'enhancedl47.yaml']:
    if os.path.exists(file):
        os.remove(file)
        
tar_filename = 'enhancedl47-win32.tar.gz'
extract_tarball(tar_filename)

# dut-collector
dut_collector_output_dir = os.path.join(os.environ['WORKSPACE'], 'bin', 'Release', 'dut-collector')
if os.path.exists(dut_collector_output_dir):
    shutil.rmtree(dut_collector_output_dir) # clean up previous output dir if exists
os.chdir(os.environ['WORKSPACE'])
tgz_filename = 'dut-collector.windows-386.tgz'
if os.path.exists('dut-collector'):
    shutil.rmtree('dut-collector') # clean up previous output dir from tgz file if exists
extract_tarball(tgz_filename)
shutil.move('dut-collector', dut_collector_output_dir)
</command>
    </hudson.plugins.python.Python>
    <hudson.tasks.BatchFile>
      <command>cd bin\Release
del TestCenter*.tar.gz
if %BUILD_PACKAGE_BUILD% == true (
python ..\..\framework\tools\buildUtil\package.py --suffix=bll --package=TestCenter 
python ..\..\framework\tools\buildUtil\package.py --package=STAKCommands.beta
)</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command>import shutil
import os

output_filename = 'orion-res'
dir_name = os.path.join(os.environ['WORKSPACE'], 'bin', 'Release', 'orion-res')
if os.path.exists('orion-res.zip'):
    os.remove('orion-res.zip')
shutil.make_archive(output_filename, 'zip', dir_name)</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${BUILD_OUTPUT_DIR}/TestCenter.Windows.bll.tar.gz, ${BUILD_OUTPUT_DIR}/UnitTestLogs.tar.gz, ${BUILD_OUTPUT_DIR}/pw_packages_to_test_report, ${BUILD_OUTPUT_DIR}/pw_packages_to_test, ${BUILD_OUTPUT_DIR}/pw_unknown_files_report, BLL_changelist*.txt, bll_idl_crc.txt, ${BUILD_OUTPUT_DIR}/STAKCommands.beta.Windows.tar.gz,orion-res.zip</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.20">
      <testResults>${BUILD_OUTPUT_DIR}/*Result.html.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers>
        <hudson.plugins.claim.ClaimTestDataPublisher plugin="claim@2.9"/>
      </testDataPublishers>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>true</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>${BUILD_OUTPUT_DIR}/TestCenter.Windows.bll.tar.gz, BLL_changelist*.txt, bll_idl_crc.txt</targets>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>engstciteam@spirent.com, ENGCIFirstResponderTeam@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern/>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern/>
      <presendScript/>
      <postsendScript/>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo/>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix/>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.13.1">
      <details>
        <artifactoryName>artifactory.srv.orionprod.net</artifactoryName>
        <artifactoryUrl>https://artifactory.srv.orionprod.net/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </details>
      <resolverDetails>
        <artifactoryName>artifactory.srv.orionprod.net</artifactoryName>
        <artifactoryUrl>https://artifactory.srv.orionprod.net/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username>spirent</username>
          <password>c3BpcmVudA==</password>
        </credentials>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username>spirent</username>
          <password>c3BpcmVudA==</password>
        </credentials>
        <credentialsId/>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec/>
      </uploadSpec>
      <downloadSpec>
        <spec>{
    "files": [
        {
            "pattern": "${MAGELLAN_BACKEND_PATH}/orion-res.windows-386.zip",
            "target": "./orion-res.windows-386.zip",
            "flat": "true"
        },
        {
            "pattern": "${MAGELLAN_FRONTEND_PATH}",
            "target": "./bin/magellan-frontend.tgz",
            "flat": "true"
        },
        {
            "pattern": "${ARCHANGEL_PATH}/enhancedl47-win32.tar.gz",
            "target": "${BUILD_OUTPUT_DIR}/enhancedl47-win32.tar.gz",
            "flat": "true"
        },
        {
            "pattern": "stc/temeva/dut-collector-commit/dut-collector.windows-386.tgz",
            "target": "./dut-collector.windows-386.tgz",
            "flat": "true"
        }
    ]
}</spec>
      </downloadSpec>
      <deployPattern/>
      <resolvePattern/>
      <matrixParams/>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns/>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName/>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectPasswordWrapper plugin="envinject@1.89">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>AF_PASSWORD</name>
          <value>SfGaPrCR/jVYhw5s/Pmc56md9j/+waJxPrWR6OrGD+k=</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.BatchFile>
          <command>setlocal enabledelayedexpansion
SET modified=%WORKSPACE:/=\%
if "%P4CLEANWORKSPACE%" == "true" (

echo "Removing %modified%"
rd /s /q %modified%\Bakeoff_TestCaseScripts
rd /s /q %modified%\bin
rd /s /q %modified%\build
rd /s /q %modified%\common
rd /s /q %modified%\content
rd /s /q %modified%\framework
rd /s /q %modified%\Layer1
rd /s /q %modified%\Release
rd /s /q %modified%\scm
rd /s /q %modified%\trafficcenter-app
rd /s /q %modified%\userdocauto
del /f /q %modified%\*.*
echo 9R1Y9fE4$PSH|p4 -u tableuser -p perforce.spirentcom.com:1666 login
p4 -u tableuser -p perforce.spirentcom.com:1666 -c jenkins-%NODE_NAME%-%JOB_NAME%-%BRANCH_NAME% sync //jenkins-%NODE_NAME%-%JOB_NAME%-%BRANCH_NAME%/...#none
)</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>