<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>IL Build job for virtual targets:&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j8 aonic&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j8 aonic_raw&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j8 aonic_64&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j8 aonic_64_raw&lt;br&gt;&#xd;
sudo rm $WORKSPACE/build/il/packages/fsimg/aonic-*&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j8 appliance&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j16 qemu&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j16 qemu_raw&lt;br&gt;&#xd;
$WORKSPACE/build/il/scripts/phxbld -j16 stca&lt;br&gt;&#xd;
Archive il_virtual_*.tar&lt;br&gt;&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>4.86_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UTEST_OUTPUT_DIR</name>
          <description>unittest output dir</description>
          <defaultValue>build/il/bld_ccpu_utest_i386_pentium3/utest/reports</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_IMAGE</name>
          <description>build image</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description></description>
          <defaultValue>4.86</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>INCLUDE_APPSEC_PKG</name>
          <description></description>
          <defaultValue>TRUE</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>45</quietPeriod>
  <assignedNode>ilbuild-01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export WS=/home/spirent

# release_il_virtual_yocto_ci
export VM_PROFILE=all
$WS/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_yocto_tardis3_mix
$WS/build/il/scripts/phxbld -j32 yocto_ver=1.5 av_version=${l4l7lxc_buildno} appliance_packaging 
$WS/build/il/scripts/phxbld -j32 yocto_ver=1.5 appliance_hypervisor_mix
$WS/build/il/scripts/phxbld -j32 yocto_lxc_ose
 
# release_il_changeling_all_yocto_ci
$WS/build/il/scripts/phxbld -j16 changeling_64
$WS/build/il/scripts/phxbld -j16 changeling_64_raw
 
# release_il_changeling_yocto_ci
export SCONSFLAGS=&quot;-j16 ccache=1 distcc=1&quot;
scons target=raw_yocto arch=yocto_i686
$WS/build/il/scripts/phxbld centralboot_changeling_yocto2
 
# release_il_chhvm_yocto_ci
$WS/build/il/scripts/phxbld -j16 yocto_ver=1.5 c3_y3_mix
$WS/build/il/scripts/phxbld -j16 yocto_ver=1.5 c3_hypervisor
 
# release_il_chos2_yocto_ci
$WS/build/il/scripts/phxbld -j8 chos2_yocto2
$WS/build/il/scripts/phxbld idltarball
 
# release_il_lxc_yocto_ci
$WS/build/il/scripts/phxbld yocto_lxc
 
# release_il_qemu_yocto_ci
$WS/build/il/scripts/phxbld -j32 qemu_yocto
 
# release_il_stca_ci
$WS/build/il/scripts/phxbld -j8 stca
$WS/build/il/scripts/phxbld -j8 vtc
$WS/build/il/scripts/phxbld -j4 tsvm
sudo $WS/build/il/scripts/phxbld tsvm_raw
sudo $WS/build/il/scripts/phxbld studio
 
# release_il_testmodule_contents_ci
$WS/build/il/scripts/phxbld -j32 testmodule_contents</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/il_log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>somboon.ongkamongkol@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>