<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>FTP central boot image file from 10.2.19.55 machine to martin&lt;br&gt;
Requires I: drive to be mapped to \\martin\archive\pv&lt;br&gt;
Update latestbuild.txt file in \\martin\archive\pv\TestCenter\&lt;version&gt;\Engineering_Builds to include the latest build number (for SmartTest)
Triggers integration_set_status job to create entry in build database&lt;br&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description/>
          <defaultValue>4.46_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>spccalengec06</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.core.DayCondition" plugin="run-condition@1.0">
        <useBuildTime>false</useBuildTime>
        <daySelector class="org.jenkins_ci.plugins.run_condition.core.DayCondition$SelectDays">
          <days>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>2</day>
              <selected>true</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>3</day>
              <selected>true</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>4</day>
              <selected>true</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>5</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>6</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>7</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>1</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
          </days>
        </daySelector>
      </condition>
      <buildStep class="hudson.plugins.parameterizedtrigger.TriggerBuilder" plugin="parameterized-trigger@2.22">
        <configs>
          <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
            <configs class="empty-list"/>
            <projects>STR-Nightly-Release,STR-QTP-Release,STR-Admin-Release,STR-QEMU-Release,release-nightly-regression-jenkins2,STR-RTP-AVCMDR-Nightly-Release,STR-RTP-Nightly-Platform-Admin</projects>
            <condition>ALWAYS</condition>
            <triggerWithNoParameters>false</triggerWithNoParameters>
            <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
          </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
        </configs>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.core.DayCondition" plugin="run-condition@1.0">
        <useBuildTime>false</useBuildTime>
        <daySelector class="org.jenkins_ci.plugins.run_condition.core.DayCondition$SelectDays">
          <days>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>2</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>3</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>4</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>5</day>
              <selected>true</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>6</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>7</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
            <org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
              <day>1</day>
              <selected>false</selected>
            </org.jenkins__ci.plugins.run__condition.core.DayCondition_-Day>
          </days>
        </daySelector>
      </condition>
      <buildStep class="hudson.plugins.parameterizedtrigger.TriggerBuilder" plugin="parameterized-trigger@2.22">
        <configs>
          <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
            <configs class="empty-list"/>
            <projects>STR-RTP-Weekend-Release,STR-QTP-Release,STR-RTP-Admin-Weekend-Release,release-nightly-regression-jenkins2,STR-RTP-AVCMDR-Weekend-Release,STR-RTP-Nightly-Platform-Admin</projects>
            <condition>ALWAYS</condition>
            <triggerWithNoParameters>false</triggerWithNoParameters>
            <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
          </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
        </configs>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.8"/>
  </buildWrappers>
</project>