<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <org.datadog.jenkins.plugins.datadog.DatadogJobProperty plugin="datadog@1.1.3-SNAPSHOT">
      <enableFile>false</enableFile>
      <tagFile></tagFile>
      <enableProperty>false</enableProperty>
      <tagProperties></tagProperties>
      <emitSCMEvents>true</emitSCMEvents>
    </org.datadog.jenkins.plugins.datadog.DatadogJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue>5.14_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAGELLAN_FRONTEND_PATH</name>
          <description>Path to magellan frontend artifact in Artifactory (https://artifactory.srv.orionprod.net)</description>
          <defaultValue>stc/temeva/magellan-frontend-commit/1276/magellan-frontend.tgz</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAGELLAN_BACKEND_PATH</name>
          <description>Path to magellan backend artifact (orion-res) in Artifactory (https://artifactory.srv.orionprod.net)</description>
          <defaultValue>stc/temeva/magellan-backend-commit/919</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>scmbuild</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName></streamName>
        <line>LOCAL</line>
        <view>+//TestCenter/5.14_rel/... //jenkins-${NODE_NAME}-${JOB_NAME}/...
-//TestCenter/*/Layer1/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/Layer1/...
-//TestCenter/*/userdocauto/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/userdocauto/...
-//TestCenter/*/sandbox/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/sandbox/...
-//TestCenter/*/.../il/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/.../il/...
-//TestCenter/*/.../hw/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/.../hw/...
-//TestCenter/*/.../WebHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/.../WebHelp/...
-//TestCenter/*/content/cts/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/content/cts/...
-//TestCenter/*/common/lib/java/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/common/lib/java/... 
-//TestCenter/*/common/tools/scons/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/common/tools/scons/... 
-//TestCenter/*/framework/ui/resultsanalysis/tools/jvm/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/common/lib/boost_1_34_0/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/common/lib/boost_1_34_0/...
-//TestCenter/*/Bakeoff_TestCaseScripts/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/Bakeoff_TestCaseScripts/... 
-//TestCenter/*/other/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/other/...
-//TestCenter/*/documents/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/documents/... 
-//TestCenter/*/dmcp/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/dmcp/...
-//TestCenter/*/schedules/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/schedules/...
-//TestCenter/*/scm/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/scm/...
-//TestCenter/*/regression/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/regression/... 
+//TestCenter/5.14_rel/build/il/... //jenkins-${NODE_NAME}-${JOB_NAME}/build/il/...
-//TestCenter/5.14_rel/build/il/cli/... //jenkins-${NODE_NAME}-${JOB_NAME}/build/il/cli/...
-//TestCenter/5.14_rel/build/il/testframework/... //jenkins-${NODE_NAME}-${JOB_NAME}/build/il/testframework/...
-//TestCenter/*/build/il/version //jenkins-${NODE_NAME}-${JOB_NAME}/*/build/il/version
-//TestCenter/*/.../ui/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/.../ui/... 
+//TestCenter/5.14_rel/common/.../ui/... //jenkins-${NODE_NAME}-${JOB_NAME}/common/.../ui/...
+//TestCenter/5.14_rel/framework/ui/automation/... //jenkins-${NODE_NAME}-${JOB_NAME}/framework/ui/automation/...</view>
        <type>WRITABLE</type>
        <serverID></serverID>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.FlushOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin></pin>
    </populate>
  </scm>
  <assignedNode>relpkg-05</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>allowedremotetrigger</authToken>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>p4 -c jenkins-%NODE_NAME%-%JOB_NAME% -u scmbuild sync -f //TestCenter/%BRANCH_NAME%/content/traffic/enhancedl47/release_artifact.txt&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.python.Python plugin="python@1.3">
      <command>import os
import sys

archangel_release_file = os.path.join(os.environ[&apos;WORKSPACE&apos;], &apos;content&apos;, &apos;traffic&apos;, &apos;enhancedl47&apos;,&apos;release_artifact.txt&apos;)

with open(archangel_release_file) as f:
    archangel_path = f.readline().strip()
    
with open(&apos;properties.txt&apos;, &apos;w&apos;) as f:
    f.write(&apos;ARCHANGEL_PATH=&apos; + archangel_path)
  
</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <join.JoinTrigger plugin="join@1.21">
      <joinProjects>release_bll_ci_join</joinProjects>
      <joinPublishers/>
      <resultThreshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </resultThreshold>
    </join.JoinTrigger>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>engstciteam@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>properties.txt</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>release_bll_windows_ci,release_bll_linux_ci,release_bll_windows_x64_ci,release_bll_linux_x64_ci</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>