<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.libvirt.BeforeJobSnapshotJobProperty plugin="libvirt-slave@1.8.5"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.7">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>5.14_rel</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>P4CLEANWORKSPACE</name>
          <description>clean build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_RUN_UNITTEST</name>
          <description>run unittest</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_PACKAGE_BUILD</name>
          <description>package build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_OUTPUT_DIR</name>
          <description>build output dir</description>
          <defaultValue>bin/Release</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_SAVE_PDB</name>
          <description>save pdb</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE_BUILD</name>
          <description>Flag whether or not this build is a release build candidate. If a build is a release candidate then STC_CR license/entitlement will be disabled
</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.p4.PerforceScm" plugin="p4@1.7.7">
    <credential>tableuser</credential>
    <workspace class="org.jenkinsci.plugins.p4.workspace.ManualWorkspaceImpl">
      <charset>none</charset>
      <pinHost>false</pinHost>
      <name>jenkins-${NODE_NAME}-${JOB_NAME}</name>
      <spec>
        <allwrite>false</allwrite>
        <clobber>false</clobber>
        <compress>false</compress>
        <locked>false</locked>
        <modtime>false</modtime>
        <rmdir>false</rmdir>
        <streamName></streamName>
        <line>LOCAL</line>
        <view>//TestCenter/5.12_rel/... //jenkins-${NODE_NAME}-${JOB_NAME}/...
-//TestCenter/*/other/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/other/...
-//TestCenter/*/documents/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/documents/...
-//TestCenter/*/schedules/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/schedules/...
-//TestCenter/*/scm/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/scm/...
-//TestCenter/*/dmcp/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/dmcp/...
-//TestCenter/*/regression/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/regression/... 
-//TestCenter/5.12_rel/framework/il/freebsd/... //jenkins-${NODE_NAME}-${JOB_NAME}/framework/il/freebsd/...
-//TestCenter/5.12_rel/framework/il/platform/scripts/... //jenkins-${NODE_NAME}-${JOB_NAME}/framework/il/platform/scripts/...
-//TestCenter/5.12_rel/framework/ui/resultsanalysis/tools/jvm/... //jenkins-${NODE_NAME}-${JOB_NAME}/framework/ui/resultsanalysis/tools/jvm/...
-//TestCenter/*/sandbox/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/sandbox/...
-//TestCenter/*/.../WebHelp/... //jenkins-${NODE_NAME}-${JOB_NAME}/*/.../WebHelp/...
+//TestCenter/5.12_rel/scm/tools/... //jenkins-${NODE_NAME}-${JOB_NAME}/scm/tools/...</view>
        <type>WRITABLE</type>
        <serverID></serverID>
        <backup>false</backup>
      </spec>
    </workspace>
    <populate class="org.jenkinsci.plugins.p4.populate.SyncOnlyImpl">
      <have>true</have>
      <force>false</force>
      <modtime>false</modtime>
      <quiet>true</quiet>
      <pin></pin>
      <parallel>
        <enable>false</enable>
        <threads>4</threads>
        <minfiles>1</minfiles>
        <minbytes>1024</minbytes>
      </parallel>
      <revert>false</revert>
    </populate>
  </scm>
  <assignedNode>bllbuild-win-07</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>0 1,5,9,13,17,21 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>rem check environment&#xd;
set&#xd;
genSln.bat&#xd;
echo &quot;attrib -r bin\Release\Cts\* /s&quot;&#xd;
attrib -r bin\Release\Cts\* /s</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if &quot;%RELEASE_BUILD%&quot; == &quot;true&quot; (&#xd;
attrib -r framework\bll\core\include\licensing\ControlledReleaseCheck.h&#xd;
copy framework\bll\core\include\licensing\ga_release\ControlledReleaseCheck.h framework\bll\core\include\licensing\ControlledReleaseCheck.h /y&#xd;
&#xd;
)</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem devenv /build Release Framework.BLL.Gen.sln&#xd;
rem devenv /build Release Plugins.BLL.Gen.sln&#xd;
rem devenv /build Release TestCenter.Automation.Gen.sln&#xd;
&#xd;
.\scons.cmd -j 4 -f SConstruct.bll debug=0 target=bll-win32&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem devenv /build Release TestCenter.UI.Gen.sln&#xd;
pushd C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\Tools&#xd;
call VsDevCmd.bat -arch=x86&#xd;
popd&#xd;
msbuild.exe TestCenter.UI.Gen.sln /t:build /p:Configuration=Release</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem devenv /build Release CTS.sln&#xd;
.\scons.cmd -j 4 -f SConstruct.bll debug=0 target=cts-bll-win32&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem devenv /build Release CTS.UI.Gen.sln&#xd;
pushd C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\Tools&#xd;
call VsDevCmd.bat -arch=x86&#xd;
popd&#xd;
msbuild.exe CTS.UI.Gen.sln /t:build /p:Configuration=Release</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>REM cd bin\Release&#xd;
REM rebase.exe -b 0x12000000 -u . *.dll&#xd;
REM exit /B 0</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem cd %WORKSPACE%&#xd;
rem %WORKSPACE%\distribute_cts.bat&#xd;
echo &quot;Skipped&quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>if %BUILD_SAVE_PDB% == true (&#xd;
&#xd;
cd bin\Release&#xd;
rmdir /q /s pdb&#xd;
mkdir pdb&#xd;
copy *.pdb pdb&#xd;
del /q pdb\test*.pdb &#xd;
&#xd;
set P4PORT=perforce.spirentcom.com:1666&#xd;
set P4USER=tableuser&#xd;
set P4CLIENT=%p4Client%&#xd;
&quot;C:\Program Files (x86)\Debugging Tools for Windows (x86)\srcsrv\p4index.cmd&quot; -source=%WORKSPACE% -symbols=pdb -debug&#xd;
&#xd;
&quot;C:\Program Files (x86)\Debugging Tools for Windows (x86)\symstore&quot; add /f %WORKSPACE%\bin\Release\pdb\*.pdb /s \\storage.cal.ci.spirentcom.com\Builds\jenkins\symbols\cts_ci /t Conformance&#xd;
&quot;C:\Program Files (x86)\Debugging Tools for Windows (x86)\symstore&quot; add /f %WORKSPACE%\bin\Release\*.dll /s \\storage.cal.ci.spirentcom.com\Builds\jenkins\symbols\cts_ci /t Conformance&#xd;
REM c:\tools\psexec\PsExec.exe -s cmd.exe /c &quot;C:\Program Files\Debugging Tools for Windows (x86)\agestore&quot; \\spccalfs04\PV-Results\Builds\jenkins\symbols\cts_ci -days 20&#xd;
&#xd;
rmdir /q /s pdb&#xd;
)</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>rem c:\Python27\python.exe framework\tools\buildUtil\pw_build_tracker.py --build_dir=&quot;c:\dev\jenkins\workspace\cts_windows\bin\Release&quot;&#xd;
echo &quot;Skipping pw_build_tracker.py &quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>cd bin\Release&#xd;
del CTS*.tar.gz&#xd;
xcopy /Y /R /D ..\..\scm\tools\devexpress .&#xd;
xcopy /Y /R /D ..\..\scm\tools\dundas .&#xd;
xcopy /Y /R /D ..\..\scm\tools\janus .&#xd;
if %BUILD_PACKAGE_BUILD% == true (&#xd;
  python ..\..\framework\tools\buildUtil\package.py --suffix=all --package=CTS&#xd;
)</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${BUILD_OUTPUT_DIR}/CTS.Windows.all.tar.gz</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>false</showGraphs>
      <parsingRulesPath>/var/lib/jenkins/log_parse_rule</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>somboon.ongkamongkol@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkinsci.plugins.influxdb.InfluxDbPublisher plugin="influxdb@1.10.3">
      <selectedTarget>http://influxdb-01.cal.ci.spirentcom.com:8086,release_jenkins_db</selectedTarget>
      <customPrefix></customPrefix>
    </jenkinsci.plugins.influxdb.InfluxDbPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.18">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>1200</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.WriteDescriptionOperation>
          <description>Build timed out (after {0} minutes). Marking the build as failed.</description>
        </hudson.plugins.build__timeout.operations.WriteDescriptionOperation>
        <hudson.plugins.build__timeout.operations.FailOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper plugin="preSCMbuildstep@0.3">
      <buildSteps>
        <hudson.tasks.BatchFile>
          <command>setlocal enabledelayedexpansion&#xd;
SET modified=%WORKSPACE:/=\%&#xd;
if &quot;%P4CLEANWORKSPACE%&quot; == &quot;true&quot; (&#xd;
&#xd;
echo &quot;Removing %modified%&quot;&#xd;
rd /s /q %modified%\Bakeoff_TestCaseScripts&#xd;
rd /s /q %modified%\bin&#xd;
rd /s /q %modified%\build&#xd;
rd /s /q %modified%\common&#xd;
rd /s /q %modified%\content&#xd;
rd /s /q %modified%\framework&#xd;
rd /s /q %modified%\Layer1&#xd;
rd /s /q %modified%\Release&#xd;
rd /s /q %modified%\scm&#xd;
rd /s /q %modified%\trafficcenter-app&#xd;
rd /s /q %modified%\userdocauto&#xd;
del /f /q %modified%\*&#xd;
echo 9R1Y9fE4$PSH|p4 -u tableuser -p perforce.spirentcom.com:1666 login&#xd;
p4 -u tableuser -p perforce.spirentcom.com:1666 -c jenkins-%NODE_NAME%-%JOB_NAME% sync //jenkins-%NODE_NAME%-%JOB_NAME%/...#none &gt; clean.txt 2&gt;&amp;1&#xd;
)</command>
        </hudson.tasks.BatchFile>
      </buildSteps>
      <failOnError>false</failOnError>
    </org.jenkinsci.plugins.preSCMbuildstep.PreSCMBuildStepsWrapper>
  </buildWrappers>
</project>