<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess plugin="promoted-builds@2.28.1">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.DownstreamPassCondition>
      <jobs>release_bll_linux_packaging,release_bll_windows_packaging_new,release_il_centralboot_packaging,release_cts_linux_packaging,release_cts_windows_packaging,release_bll_linux_64_packaging</jobs>
      <evenIfUnstable>false</evenIfUnstable>
    </hudson.plugins.promoted__builds.conditions.DownstreamPassCondition>
  </conditions>
  <icon>star-red</icon>
  <assignedLabel>relpkg-05</assignedLabel>
  <isVisible></isVisible>
  <buildSteps>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>STC_MAJ_MIN_VERSION=${STC_MAJ_MIN_VERSION}
BRANCH_NAME=${BRANCH_NAME}
BLL_BUILD_NUMBER=${PROMOTED_NUMBER}</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>start_release_installer_process</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>BLL_BUILD_NUMBER=${PROMOTED_NUMBER}
PROMOTED_URL_PARAM=${PROMOTED_URL}
MODE=${MODE}</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>release_copy_to_spccalfs03_packaging</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </buildSteps>
</hudson.plugins.promoted__builds.PromotionProcess>